<html>
<head>
</head>
<body>
    <h4>Verify your eamil</h4>
    <br/><br/><br/>
    <p>We've sent an eamil to {{email}} to verify your email address and activate your account.</p>
    <p>Please click the link below</p>
    <p><a href='http://{{ domain }}{% url 'activate' uidb64=uid token=token %}'>http://{{ domain }}{% url 'activate' uidb64=uid token=token %}</a></p>
    <br/><br/>
    {% if data_url %}
        <p><a href="{{ data_url }}">You can update your data here: {{ data_url }}</a></p>
    {% endif %}
</body>
</html>
