@import './tab.scss';

// TODO: set responsive left and right sidebar width
.LeftSideBar {
    width: 400px;
    height: 100%;
    display: flex;
    flex-direction: column;

    .MuiTab-root {
        width: 50%;
    }

    button:focus {
        outline: unset;
    }

    .Layers {
        .MuiList-root {
            padding-top: 0px;
            .MuiCheckbox-root.Mui-checked {
                color: var(--black-custom-primary);
            }
        }

        .LegendIcon {
            width: 24px;
            height: 32px;
            border-radius: 5px;
        }
    }

    .LeftSideBarContent {
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        flex-wrap: nowrap;
        flex: 1 1 auto;
        height: 0px;
        background: #fff;
    }

    .TabHeaders {
        &.Single {
            .MuiTabs-flexContainer {
                justify-content: center;
            }
            .MuiTabs-indicator {
                width: 100% !important;
                left: 0px !important;
            }
        }
    }
}

.RightSideBar {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 450px;
    z-index: 100;
    background: white;

    .MuiSkeleton-root {
        background-color: white;
    }
}
.searchBar {
    margin-bottom: 22px;
    margin-top: 5%;
    .MuiFormControl-root {
        width: 100%;
        fieldset {
            border: none;
            box-shadow: 0px 2px 4px #858585;
        }
    }
    .MuiAutocomplete-root {
        .MuiInputBase-root {
            padding-right: 9px !important;
        }
    }
}
.sidebarBox {
    padding: 0px 16px;
    width: 100%;
    max-height: 100%;
    overflow: auto;
    .sidebarBoxHeading {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 8px;
    }
    .ListItem {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        margin-bottom: 20px;
        .MuiPaper-root.MuiPaper-elevation {
            width: 100%;
            box-shadow: none;
            .MuiButtonBase-root{
                .Mui-expanded{
                    margin: 0px 0;
                }
                .MuiAccordionSummary-expandIconWrapper.Mui-expanded{
                    margin: 0px 0;
                }
            }
            .MuiCollapse-root.MuiCollapse-vertical{
                box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
                margin-top: 10px;
                border-radius: 4px;
            }
        }
        .MuiPaper-root.MuiPaper-elevation > .MuiButtonBase-root{
            border: solid 1px #696969;
            min-height: 56px;
            border-radius: 5px;
            padding-left: 10px;
            background-color: transparent !important;
            .MuiChip-root.MuiChip-filled{
                border-radius: 4px;
                svg{
                    font-size: 15px;
                }
            }
        }
        * {
            color: #282829;
            border-color: #282829 !important;
        }

        .autoComplete-Tags {
            font-size: inherit!important;
        }

        .ListItemButton {
            padding: 0;
            width: calc(50% - 20px);
            align-items: flex-start;
            .MuiListItemIcon-root{
                min-width: inherit;
                .MuiButtonBase-root{
                    padding-top: 0;
                    padding-bottom: 0;
                }
            }
            .MuiListItemText-root{
                margin-top: 0px;
                margin-bottom: 0px;
            }
        }
    }
    .sidebarArrowsBox {
        text-align: left;
        ul {
            list-style-type: none;
            padding-left: 0;
            li{
                margin-bottom: 10px;
                * {
                    color: #282829;
                }
            }
        }
    }
}

.MuiMenu-list .Mui-selected, .MuiMenu-list .Mui-selected:hover{
    background-color: rgba(0, 0, 0, 0.04) !important;
}
.MuiAutocomplete-option[aria-selected="true"].Mui-focused, .MuiAutocomplete-option[aria-selected="true"]{
    background-color: rgba(0, 0, 0, 0.04) !important;
}
.Mui-focused .MuiOutlinedInput-notchedOutline{
    border-width: 1px !important;
}

.sliderYear{
    width: 100%;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 5px;
    .MuiSlider-marked {
        margin-bottom: 0px;
        color: #282829;
    }
    .MuiSlider-markLabel{
        top: -20px;
        margin-left: 5px;
    }
    .MuiSlider-markLabel[data-index="1" ]{
        margin-left: -8px;
    }
}
.formboxInput{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 25px;
}
.form-inputFild{
    width: 30%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.right-flids{
    align-items: flex-end;
}
.formtext{
   margin-top: 5px;
   font-size: 14px;
}

.MuiInputBase-root.MuiOutlinedInput-root ::placeholder {
    color: rgb(40, 40, 41) !important;
    opacity: 1 !important;
}

.sidepanel-loading-container {
    display: flex;
    color: rgb(255, 255, 255);
    background-color: rgba(207, 206, 206, 0.38);
    z-index: 999;
    position: absolute;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.clear-button-container {
    position: absolute;
    right: 0;
    margin-right: 20px;
    margin-top: -5px;
    button {
        text-transform: capitalize;
        font-size: medium;
    }
}
