@import './tab.scss';

// TODO: set responsive left and right sidebar width
.LeftSideBar {
    width: 400px;
    height: 100%;
    display: flex;
    flex-direction: column;

    .MuiTab-root {
        width: 50%;
    }

    button:focus {
        outline: unset;
    }

    .Layers {
        .MuiList-root {
            padding-top: 0px;
            .MuiCheckbox-root.Mui-checked {
                color: var(--black-custom-primary);
            }
        }

        .LegendIcon {
            width: 24px;
            height: 32px;
            border-radius: 5px;
        }
    }

    .LeftSideBarContent {
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        flex-wrap: nowrap;
        flex: 1 1 auto;
        height: 0px;
    }
}

.RightSideBar {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 450px;
    z-index: 100;
    background: white;

    .MuiSkeleton-root {
        background-color: white;
    }
}
.searchBar {
    margin-bottom: 22px;
    .MuiFormControl-root {
        width: 100%;
        fieldset {
            border: none;
            box-shadow: 0px 2px 4px #858585;
        }
    }
}
.sidebarBox {
    padding: 0px 16px;
    width: 100%;
    max-height: 71vh;
    overflow: auto;
    .sidebarBoxHeading {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 8px;
    }
    .ListItem {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        margin-bottom: 20px;
        * {
            color: #282829;
        }
        .ListItemButton {
            padding: 0;
            width: calc(50% - 20px);
            align-items: flex-start;
            .MuiListItemIcon-root{
                min-width: inherit;
                .MuiButtonBase-root{
                    padding-top: 0;
                    padding-bottom: 0;
                }
            }
            .MuiListItemText-root{
                margin-top: 0px;
                margin-bottom: 0px;
            }
        }
    }
    .sidebarArrowsBox {
        text-align: left;
        ul {
            li{
                margin-bottom: 10px;
            }
        }
    }
}

.sliderYear{
    width: 100%;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 30px;
    .MuiSlider-marked {
        margin-bottom: 10px;
        color: #282829;
    }
    .MuiSlider-markLabel{
        top: -20px;
        margin-left: 5px;
    }
    .MuiSlider-markLabel[data-index="1" ]{
        margin-left: -8px;
    }
}
