.TabHeaders {
    button:focus {
        outline: unset;
    }
}

.TabPanels {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.MuiTabs-root {
    .MuiTab-root {
        color: var(--primary-color);
        font-weight: 500;
        
        &.Mui-selected {
            color: var(--green-darken-1);
        }
    }

    .MuiTabs-indicator {
        background-color: var(--green-darken-1);
    }
}


