.help-container{
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.help-content-container{
    width: 100%;
    height: 100%;
    display: flex;
    background-color: var(--black);
}

.help-banner-img{
    background-image: url('/static/images/help/help_page_banner.png');
}

.help-btns-container{
    display: flex;
}

.help-content-title{
    color:var(--white)
}

.help-text{
    color:var(--white)
}

.help-btns-container{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.user-guide-anchor{
    display: block;
    width: 135px;
    height: 45px;
    background: #70B276;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    color:var(--black);
}

.contact-anchor{
    display: block;
    width: 135px;
    height: 45px;
    background: #FAA755;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
    margin-left:15px;
    text-decoration: none;
    color:var(--black);
}

.DocsCrawler{
    position: unset !important;
    height: 100%;

    .DocsCrawler-Close {
        display: none;
    }

    .DocsCrawler-Content {
        width: 100% !important;
    }
    .DocsCrawler-InnerContent {
        padding: 1rem 0;
    }
    .DocsCrawler-Block {
        right: -100% !important;
        padding-top: 2rem !important;

        &.Open{
            right: 0 !important;
        }
    }
    .DocsCrawler-Footer{
        padding: 0 !important;
    }
    .help-btns-container {
        margin-bottom: 15px;
    }
}

.help-banner-img {
    height: fit-content;
}

@media screen and (min-width:801px){
    .help-content-container{
        flex-direction: row;
    }

    .help-image-container{
        width:100%;
        flex-basis:50%;
    }

    .help-banner-img{
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    .help-texts-container{
        display: flex;
        flex-basis: 50%;
        flex-direction: column;
        justify-content: center;

    }

    .help-content-title{
        width:100%;
        text-align: center;
        font-size: 35px;
    }

    .help-text-container{
        width:100%;
        display: flex;
        justify-content: center;
    }

    .help-text{
        width:60%;
        text-align: justify;
    }

}


@media screen and (min-width:500px) and (max-width: 800px) {
    #app {
        overflow-y: auto;
    }
    .help-content-container{
        flex-direction: column;
    }

    .help-image-container{
        width:100%;
        flex-basis:75%;
        height:500px;
    }
    .DocsCrawler-InnerContent{
        height: 500px;
    }

    .help-banner-img{
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    .help-content-title{
        width:100%;
        text-align: center;
        font-size: 35px;
    }

    .help-text-container{
        width:100%;
        display: flex;
        justify-content: center;
    }

    .help-text{
        width:60%;
        text-align: justify;
    }

}
