.species-chart-container{
    position: relative;
    width:100%;
    height:100%;

    & > canvas {
        margin-left: auto;
        margin-right: auto;
    }
}

.species-chart-skeleton {
    height: 150px;
    margin: 10px;
}