{% extends "base.html" %}
{% load static %}

{% block head_title %}Your Profile{% endblock %}

{% block content %}
<section>
  <div class="container py-5">
    <div class="row">
      <div class="col">
        <h3 class="page-title swaps-text-primary mb-3">Profile Configuration</h3>
        <nav class="navbar navbar-expand-lg">
          <ol class="navbar-nav mb-0 ">
            <li class="nav-item"><a class="primary-text-color nav-link" href="#">PROFILE</a></li>
            <li class="nav-item"><a class="nav-link" href="#">REMINDERS</a></li>
            <li class="nav-item" aria-current="page"><a class="nav-link"href="#">NOTIFICATIONS</a></li>
          </ol>
        </nav>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">

            <img src={% if object.user_profile.picture %}{{object.user_profile.picture.url}}{% else %}"https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp{% endif %}" alt="avatar"
              class="rounded-circle img-fluid" style="width: 150px;">
            <p class="text-muted my-2 upload-picture"><span data-toggle="modal" data-target="#uploadPictureModal">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="15px" class="mb-2 mr-1" style="fill:#6c757dd9"><!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M246.6 9.4c-12.5-12.5-32.8-12.5-45.3 0l-128 128c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 109.3V320c0 17.7 14.3 32 32 32s32-14.3 32-32V109.3l73.4 73.4c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3l-128-128zM64 352c0-17.7-14.3-32-32-32s-32 14.3-32 32v64c0 53 43 96 96 96H352c53 0 96-43 96-96V352c0-17.7-14.3-32-32-32s-32 14.3-32 32v64c0 17.7-14.3 32-32 32H96c-17.7 0-32-14.3-32-32V352z"/></svg>Upload profile picture</span></p>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
              <form method="post" action="{% url 'profile' object.username %}">
              {% csrf_token %}
              <div class="form-group">
                <label for="first-name">First name</label>
                <input type="text" class="form-control" id="first-name" name="first-name" aria-describedby="firstNameHelp" value={{object.first_name}}>
              </div>
              <div class="form-group">
                <label for="nlast-nameame">Name</label>
                <input type="text" class="form-control" name="last-name" aria-describedby="nameHelp" value={{object.last_name}}>
              </div>
              <div class="form-group">
                <label for="title">Title</label>
                <select class="form-control" name="title" id="title">
                  {% for title in titles %}
                    <option value="{{ title.id }}"> {{ title.name }} </option>
                  {% endfor %}
                </select>
              </div>
              <div class="form-group">
                <label for="organization">Organisation</label>
                <input type="text" class="form-control" name="organization" placeholder="Organisation">
              </div>
              <div class="form-group">
                <label for="role">Role</label>
                <select class="form-control" name="role"id="role">
                  {% for role in roles %}
                    <option value="{{ role.id }}"> {{ role.name }} </option>
                  {% endfor %}
                </select>
              </div>
               <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" name="email" aria-describedby="emailHelp" value={{object.email}}>
              </div>
              <button type="submit" class="account-button">Update</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="modal fade" id="uploadPictureModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="uploadPictureModalLabel">Upload profile picture</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form method="post" action="{% url 'profile' object.username %}">
              {% csrf_token %}
              <div class="custom-file">
              <input type="file" class="custom-file-input" name="profile-picture" id="profile-picture">
                <label class="custom-file-label" for="profile-picture">Choose file</label>
              </div>
            </div>
              <button type="submit" class="account-button">Upload</button>
            </form>
          </div>
        </div>
      </div>
{% endblock %}
