body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#app {
    flex: 1;
    flex-direction: column;
    display: flex;
}

.MainPage {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;

    .TabHeaders {
        padding-left: 5px;

        .MuiTab-root {
            min-width: 197.5px;
        }
    }

    .Content {
        height: 100%;
    }
}