body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#app {
    flex: 1;
    flex-direction: column;
    display: flex;
}

.MainPage {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;

    .TabHeaders {
        padding-left: 5px;

        .MuiTab-root {
            min-width: 197.5px;
        }
    }

    .Content {
        height: 100%;
    }
}

.grayBg{
    background: #f5f3f3;
    padding-left: 5px;
    .Content{
        background-color: #fff;
        padding-left: 10px;
        padding-right: 10px;
    }
    .TabHeaders {
        margin-bottom: 6px;
    }
}