.MainPage {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: calc(100% - 82px);

    .TabHeaders {
        padding-left: 5px;
    }

    .Content {
        height: 100%;
    }
}

.App {
    overflow-y: hidden;
}
