body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#app {
    flex: 1;
    flex-direction: column;
    display: flex;
}

.MainPage {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;

    .TabHeaders {
        padding-left: 5px;

        .MuiTab-root {
            min-width: 197.5px;
        }
    }

    .Content {
        height: 100%;
    }
}

.grayBg {
    background: #f5f3f3;
    .Content{
        background-color: #fff;
        padding-left: 0px;
        padding-right: 0px;
    }
    .TabHeaders {
        margin-bottom: 6px;
    }
}
.customWidth {
    width: calc(100vw - 440px);
    .dataTable {
        width: calc(100vw - 410px);
        overflow: auto;
        .MuiDataGrid-columnHeaderTitle{
            text-overflow: inherit;
            white-space: break-spaces;
            line-height: 17px;
            text-align: left;
        }
        .MuiDataGrid-columnHeader{
            &:nth-child(4){
                max-width: 80px !important;
                width: 80px !important;
                min-width: 0px !important;
            }
            &:nth-child(5){
                max-width: 95px !important;
                width: 95px !important;
            }
        }
        .MuiDataGrid-cell{
            &:nth-child(4){
                max-width: 80px !important;
                width: 80px !important;
                min-width: 0px !important;
            }
            &:nth-child(5){
                max-width: 95px !important;
                width: 95px !important;
            }
        }
        .MuiDataGrid-virtualScrollerContent{
            width: 100% !important;
            .MuiDataGrid-virtualScrollerRenderZone{
                width: 100% !important;
                .MuiDataGrid-row{
                    width: 100% !important;
                }
            }
        }
    }
}

.LeftSideBar {
    box-shadow: 0 0 6px -2px rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.TabHeaders {
    box-shadow: 0 3px 3px -2px rgba(0, 0, 0, 0.3);
    z-index: 1;
}
