body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#app {
    flex: 1;
    flex-direction: column;
    display: flex;
}

.MainPage {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;

    .TabHeaders {
        padding-left: 5px;

        .MuiTab-root {
            min-width: 197.5px;
        }
    }

    .Content {
        height: 100%;
    }
}

.grayBg {
    background: #f5f3f3;
    .Content{
        background-color: #fff;
        padding-left: 0px;
        padding-right: 0px;
    }
    .TabHeaders {
        margin-bottom: 6px;
    }
}
.customWidth {
    width: calc(100vw - 440px);
    .dataTable {
        width: calc(100vw - 410px);
        overflow: auto;
        .MuiDataGrid-columnHeaderTitle{
            text-overflow: inherit;
            white-space: break-spaces;
            line-height: 17px;
            text-align: left;
        }
        .MuiDataGrid-virtualScrollerContent{
            width: 100% !important;
            .MuiDataGrid-virtualScrollerRenderZone{
                width: 100% !important;
                .MuiDataGrid-row{
                    width: 100% !important;
                }
            }
        }
    }
}

.LeftSideBar {
    box-shadow: 0 0 6px -2px rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.TabHeaders {
    box-shadow: 0 3px 3px -2px rgba(0, 0, 0, 0.3);
    z-index: 1;
}

#right-sidebar-tab {
    width: calc(100vw - 400px);
    height: calc(100% - 50px);
}

#toggle-left-sidebar {
    position: absolute;
    right: 0;
    top: 100;
    z-index: 999;
    button {
        height: 50px;
        width: 100%;
    }
}

@media screen and (min-width: 1200px) {
    body {
        overflow: hidden;
    }

    .MainPage-map {
        overflow: hidden;
    }

    .MainPage-reports, .MainPage-charts, .MainPage-trends, .MainPage-property_reports {
        overflow-y: auto;
    }

  #main-container {
      flex-direction: column;

      #left-sidebar-container {
          width: 400px!important;
      }

      #right-sidebar-container {
          width: calc(100vw - 400px);
      }

      #right-sidebar-tab {

          .TabHeaders {
              width: calc(100vw - 420px);
          }
      }

      #toggle-left-sidebar {
          display: none;
      }
  }

    #dataContainer {
        width: calc(100vw - 420px);
    }

}

@media only screen and (max-width: 1200px) {
    #right-sidebar-tab {
        margin-top: 100px;
        width: 100%;

        .TabHeaders {
            width: 100%;
        }

        #dataContainer {
            width: 100%;
        }
    }

    #toggle-left-sidebar {
        height: 50px;
    }

    .hidden {
        display: none;
    }
}

.buttonsBuffer {
    padding-bottom: 120px;
}
