{% extends 'base.html' %}
{% load i18n %}
{% load account %}
{% block head_title %}Register{% endblock%}

{% block content %}
<section class="login-page fs-background" style="background-color: #000000; min-height:var(--min-content-height);">
    <div class="container-fluid full-height">
        <div class="row half-height">
            <div class="col-12 col-lg-7 col-md-5"></div>
                <div class="col-12 col-lg-5 col-md-7 sawps-text-primary registerSignUp">
                    <div class="account-form content">
                    <div class="custom-form-container">
                        <h4 class="account-form-title">{% trans "Verification" %}</h4>
                        <hr class="separator">

                        <p class="text-justify">
                            A verification email has been sent to your email address
                            Please click the verification link in the email and follow the
                            prompts to be able to login to this platform </p>

                        <div class="login-help text-center">
                            Did not receive verification email </a>
                        </div>

                        <a href="{% url 'account_login' %}"><button class="sawps-from-submit account-button"">Login</button></a>

                    </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

</html>
