{% extends 'base.html' %}
{% load i18n %}
{% load account %}
{% block head_title %}SAWPS - Register{% endblock%}

{% block content %}
<section class="login-page fs-background" style="background-color: #000000; min-height:var(--min-content-height);">
    <div class="container-fluid full-height">
        <div class="row half-height">
            <div class="col-12 col-lg-7 col-md-5"></div>
                <div class="col-12 col-lg-5 col-md-7 sawps-text-primary registerSignUp">
                    <div class="account-form content">
                    <div class="custom-form-container">
                        <h4 class="account-form-title">{% trans "Verification" %}</h4>
                        <hr class="separator">

                        <p class="text-justify">
                            A verification email has been sent to your email address
                            Please click the verification link in the email and follow the
                            prompts to be able to login to this platform </p>

                        <div class="login-help text-center">
                            Did not receive verification email? <span id="timer">(02:00)</span><span id="actionTimer" style="display: none;">Resend</span>
                        </div>

                        <a href="{% url 'account_login' %}"><button class="sawps-from-submit account-button">Login</button></a>

                    </div>
            </div>
        </div>
    </div>
    
    <script>
        function str_pad_left(string, pad, length) {
            return (new Array(length + 1).join(pad) + string).slice(-length);
        }
        function format_seconds(time) {
            const minutes = Math.floor(time / 60);
            const seconds = time - minutes * 60;
            return str_pad_left(minutes, '0', 2) + ':' + str_pad_left(seconds, '0', 2);
        }
        var time;
        function resetTimer() {
            var timer = $("#timer");
            if (!time) {
                time = 120;
            }
            timer.text(`(${format_seconds(time)})`);
            var intervalTimer = setInterval(function () {
                time -= 1;
                timer.text(`(${format_seconds(time)})`);
                if (time < 1) {
                    clearInterval(intervalTimer);
                    timer.hide();
                    $("#actionTimer").show();
                }
            }, 1000);
        }
        $(document).ready(function() {
            resetTimer();
        });
    </script>
</section>
{% endblock %}


</html>
