{% extends 'base.html' %}
{% load i18n %}
{% load account %}
{% block head_title %}Password Reset{% endblock%}

{% block content %}
<section class="account-action password-reset-page" style="background-color: #000000; min-height:81vh">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 account-form">
                <div class="content">
                    {% if show_password_message %}
                        <div class="alert alert-success">
                            {% trans "Your Password has been reset successfully .Please proceed to log in" %}
                        </div>
                    {% else %}
                    <h4 class="account-form-title">{% trans "Reset password" %}</h4>
                    <hr class="separator">
                    <div class="password-reset-confirm">
                        <h2>{% trans "Password Reset Confirmation" %}</h2>
                        <p>{% trans "Enter your new password below to reset your password." %}</p>
                        <form method="POST" action="{% url 'password_reset_confirm' uidb64=request.resolver_match.kwargs.uidb64 token=request.resolver_match.kwargs.token %}">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <input type="hidden" name="action" value="passwordreset">
                            <button type="submit" class="btn btn-primary">{% trans "Reset Password" %}</button>
                        </form>
                    </div>
                    {% endif %}
                    <div class="login-help text-center">
                        Go back?<a href="{% url 'account_login' %}"> {% trans "Log In" %}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
