{% extends "base.html" %}
{% load i18n %}
{% load account %}

{% block head_title %}Login{% endblock %}


{% block content %}
<section class="login-page fs-background registerSignUpAccount" style="background-color: #000000; min-height:var(--min-content-height);">
    <div class="container-fluid full-height">
        <div class="row half-height">
            <div class="col-12 col-md-5 col-lg-7"></div>
            <div class="col-12 col-md-7 col-lg-5 sawps-text-primary registerSignUp">
            <div class="account-form content">

            {% csrf_token %}

                <div class="custom-form-container">
                    {% if messages %}
                        <ul class="errorlist">
                            {% for message in messages %}
                                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}

                    <h4 class="account-form-title">{% trans "Login" %}</h4>
                    <hr class="separator">

                    <form class="login" method="POST" action="{% url 'account_login' %}">{% csrf_token %}
                    {% if form.non_field_errors %}
                        <ul class='form-errors'>
                            {% for error in form.non_field_errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                        {% for field in form %}
                        {% if field.name == 'remember' %}
                        <div class="form-check" style="margin-left: 35px; margin-bottom: 7px;">
                            {{ field.label }}
                            {{ field }}
                        </div>
                        {% else %}
                        <p>
                            <label>
                                {{ field.label }}
                            </label>
                            {{ field }}
                        </p>
                        {% endif %}
                        {% endfor %}
                        {% if redirect_field_value %}
                            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                        {% endif %}
                        <button class="sawps-from-submit account-button" type="submit">{% trans "LOGIN" %}</button>
                    </form>
                    <div class="login-help text-center">
                    Don’t have an account? Register <a href="{% url 'account_signup' %}">Here</a>                            </div>
                    <div class="login-help text-center">
                    <a href="{% url 'password_reset' %}">{% trans "Forgot Password" %}</a>
                    </div>

                </div>
            </div>
</section>
{% endblock %}
