{% extends "base.html" %}
{% load i18n %}
{% load account %}
{% block head_title %}Logout{% endblock%}


{% block content %}
<section class="account-action text-white fs-background" style="background-color: #000000; min-height:var(--min-content-height);">
    <div class="container-fluid full-height position-relative">
        <div class="row half-height">
            <div class="col-md-7 col-xl-7"></div>
            <div class="col-xl-5 col-md-5 sawps-primary logoutBox">
            <div class="account-form content">

            {% csrf_token %}
            <div class="container">

                <div class="custom-form-container">

                    <h4 class="account-form-title">{% trans "Log out" %}</h4>
                    <hr class="separator">

                    <p style="font-size:12pt">{% trans 'Are you sure you want to log out?' %}</p>
                    <form class="logout" method="POST" action="{% url 'account_logout' %}">{% csrf_token %}
                        {% if redirect_field_value %}
                            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                        {% endif %}
                        <button class="sawps-from-submit account-button" type="submit">{% trans "LOG OUT" %}</button>
                    </form>

                </div>
            </div> <!-- /container -->
            </div>
             </div>
    </div>
    </div>
</section>
{% endblock %}
</html>
