{% extends 'base.html' %}
{% load i18n %}
{% load account %}

{% block content %}
<section class="account-action fs-background" style="background-color: #000000; min-height:var(--min-content-height);">
    <div class="container-fluid full-height">
        <div class="row half-height">
            <div class="col-12 col-lg-7 col-md-5"></div>
            <div class="col-12 col-lg-5 col-md-7 sawps-text-primary registerSignUp">
                <div class="content account-form">
                    <h4 class="account-form-title">{% trans "Reset password" %}</h4>
                    <hr class="separator">
                    {% if show_email_message %}
                        <div class="instruction">
                            {% trans "Dear user, we have sent you an email containing instructions to reset your password." %}
                            {% trans "If you have not received the email, we kindly request you to verify that the email address used for registration is correct and to review your spam." %}
                        </div>
                    {% else %}
                    <form class="password-reset-form" method="POST" action="{% url 'password_reset' %}">
                        {% csrf_token %}
                        <input type="hidden" name="action" value="sendemail">
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" name="email" id="email" class="form-control" required>
                        </div>
                        <button class="btn btn-primary" type="submit">{% trans "Reset Password" %}</button>
                    </form>
                    {% endif %}
                    <div class="login-help text-center">
                        Go back?<a href="{% url 'account_login' %}" style="text-decoration: underline; color: #F9A95D;"> {% trans "Log In" %}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
