{% extends 'base.html' %}
{% load i18n %}
{% load account %}
{% block head_title %}Password Reset{% endblock%}

{% block content %}
<section class="account-action password-reset-page" style="background-color: #000000; min-height:var(--min-content-height);">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 account-form">
                <div class="content">
                    <h4 class="account-form-title">{% trans "Reset password" %}</h4>
                    <hr class="separator">
                    {% if show_email_message %}
                        <div class="alert alert-success">       
                            {% trans "Dear user, we have sent you an email containing instructions to reset your password." %}
                            {% trans "If you have not received the email, we kindly request you to verify that the email address used for registration is correct and to review your spam." %}
                        </div>
                    {% else %}
                    <form class="password-reset-form" method="POST" action="{% url 'password_reset' %}">
                        {% csrf_token %}
                        <input type="hidden" name="action" value="sendemail">
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" name="email" id="email" class="form-control" required>
                        </div>
                        <button class="btn btn-primary" type="submit">{% trans "Reset Password" %}</button>
                    </form>   
                    {% endif %}
                    <div class="login-help text-center">
                        Go back?<a href="{% url 'account_login' %}"> {% trans "Log In" %}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
