{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load account %}

{% block head_title %}Your Profile{% endblock %}

{% block content %}
<section style="min-height:var(--min-content-height);">
  <div class="container py-5">
    <div class="row">
      {% include "profile_config_base.html" %}
      <div class="col-lg-8 mx-auto"> <!-- Center the content -->
        <form class="change-password" id="change_password" method="POST" action="{% url 'account_change_password' %}">
          {% csrf_token %}
          <input type="hidden" name="recaptcha_token" id="recaptcha-token-input" value="">
          {% if form.non_field_errors %}
          <div class="alert alert-warning">
            {% for error in form.non_field_errors %}
            <p>{{ error }}</p>
            {% endfor %}
          </div>
          {% endif %}
          {% for field in form %}
          <div class="form-group">
            <label for="{{field.label}}">{{field.label}}</label>
            {{ field }}
            {% if field.errors %}
            <ul class="errorlist">
              {% for error in field.errors%}
              <li><small id="data-privacy" class="form-text text-muted">{{error}}</small></li>
              {% endfor %}
            </ul>
            {% endif %}
          </div>
          {% endfor%}
          <div class="form-group">
            <small id="data-privacy" class="form-text text-muted">Your password should consist of a minimum of twelve characters, including at least one lowercase letter, one uppercase letter, one numeric character, and one special character. We highly recommend utilizing a password manager tool that can assist you in generating a strong password.</span>
            </small>
          </div>
          <div class="text-right">
            <button id="submit-button" class="sawps-font-button orange-button mt-0" type="submit" style="font-weight: bold;">{% trans "save" %}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <style>
    .form-control:focus {
      border-color: var(--green);
      box-shadow: 0 0 0 0.25rem rgba(0, 128, 0, 0.25);
    }

  </style>
</section>
<section style="margin-top: -5%;">
    {% endblock %}
</section>
