{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load account %}


{% block head_title %}Your Profile{% endblock %}

{% block content %}
<section>
  <div class="container py-5">
  <div class="row">
    {% include "profile_config_base.html" %}

      <div class="col-lg-8">
        <form class="change-passwor" id="change_password" method="POST" action="{% url 'account_change_password' %}">{% csrf_token %}

            <input type="hidden" name="recaptcha_token" id="recaptcha-token-input" value="">
            {% if form.non_field_errors %}
                <div class="alert alert-warning">
                    {% for error in form.non_field_errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
            {% for field in form %}
            <div class="form-group">
                <label for="{{field.label}}">{{field.label}}</label>
                {{ field }}
                {% if field.errors %}
                    <ul class="errorlist">
                        {% for error in field.errors%}
                        <li><small id="data-privacy" class="form-text text-muted"></small>{{error}}</small></li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            {% endfor%}
            
            <div class="form-group">
                <small id="data-privacy" class="form-text text-muted">Your password should consist of a minimum of twelve characters, including at least one lowercase letter, 
                one uppercase letter, one numeric character, and one special character. We highly recommend utilizing a 
                password manager tool that can assist you in generating a strong password.</span>
                </small>
            </div> 

            <button id="submit-button" class="orange-button sawps-font-button" type="submit">{% trans "save" %}</button>
        </form>
            
      </div>
  </div>
</section>

{% endblock %}
