{% extends 'base.html' %}
{% load i18n %}
{% load account %}
{% block title %}Password Reset{% endblock%}

{% block content %}
<section class="account-action text-white ">
    <div class="container position-relative">
    <div class="row">
        <div class="col-xl-6 account-form">
            <div class="content" style="height: 100%;">

                {% csrf_token %}
                    <div class="container" style="height: 100%;">

                        <div class="custom-form-container">

                               <h3 class="account-form-title">{% trans "Reset password" %}</h3>
                            <form class="signup" id="signup_form" method="POST" action="{% url 'account_signup' %}">{% csrf_token %}
                                <input type="hidden" name="recaptcha_token" id="recaptcha-token-input" value="">
                                {% if form.non_field_errors %}
                                    <div class="alert alert-warning">
                                        {% for error in form.non_field_errors %}
                                            <p>{{ error }}</p>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                {% for field in form%}
                                <div class="form-group">
                                    <label for="{{field.label}}">{{field.label}}</label>
                                        <input type="{{field.field.widget.input_type}}" {% if field.field.widget.input_type != 'checkbox' %} class="form-control" {% endif %} placeholder="{{field.label}}">

                                </div>
                                {% endfor%}
                                {% if redirect_field_value %}
                                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                                {% endif %}



                                <button id="submit-button" class="login swaps-from-submit account-button" type="submit">{% trans "SIGN UP" %}</button>
                            </form>
                            <div class="login-help text-center">
                                <a href="{% url 'account_login' %}">{% trans "Log In" %}</a> -
                                <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password" %}</a>
                            </div>
                        </div>
                        <div class="form-space"></div>
                    </div> <!-- /container -->
                    </div>
        </div>
        </div>
        </div>
</section>
{% endblock %}

</html>
