{% extends 'base.html' %}
{% load i18n %}
{% load account %}
{% block head_title %}Register{% endblock%}

{% block content %}
<section class="account-action swaps-primary-text" style="background-color: #000000;">
    <div class="container position-relative">
        <div class="row">
            <div class="col-xl-6 account-form">
            <div class="content" style="height: 100%;">
                    {% csrf_token %}
                    <div class="container" style="height: 100%;">

                        <div class="custom-form-container">

                            <h4 class="account-form-title">{% trans "Registration" %}</h4>
                            <hr class="separator">
                            <form class="signup" id="signup_form" method="POST" action="{% url 'account_signup' %}">{% csrf_token %}

                                <input type="hidden" name="recaptcha_token" id="recaptcha-token-input" value="">
                                {% if form.non_field_errors %}
                                    <div class="alert alert-warning">
                                        {% for error in form.non_field_errors %}
                                            <p>{{ error }}</p>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                <div class="form-row">
                                {% for field in form %}
                                {% if field.name == 'group' %}
                                </div>
                                <div class="form-group">
                                    <label for="{{field.label}}">{{field.label}}</label>
                                    {{ field }}
                                </div>
                                <div class="form-row">
                                {% else %}
                                <div class="form-group col-md-6">
                                    <label for="{{field.label}}">{{field.label}}</label>
                                    {{ field }}
                                </div>
                                {% endif %}
                                {% endfor%}
                                </div>

                                {% if redirect_field_value %}
                                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                                {% endif %}



                                <button id="submit-button" class="swaps-from-submit account-button" type="submit">{% trans "Register" %}</button>
                            </form>

                        </div>
                        <div class="form-space"></div>
                    </div> <!-- /container -->
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

</html>
