{% extends 'base.html' %}
{% load i18n %}
{% load account %}
{% block head_title %}Register{% endblock%}

{% block content %}
<section class="account-action fs-background" style="background-color: #000000;">
    <div class="container-fluid full-height position-absolute">
    <div class="row half-height">
        <div class="col-7"></div>
        <div class="col-5 swaps-text-primary">
            <div class="account-form content" style="width: 700px">
                    {% csrf_token %}
                    <div class="container">

                        <div class="custom-form-container">
                            {% if messages %}
                                <ul class="errorlist">
                                    {% for message in messages %}
                                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}

                            <h4 class="account-form-title">{% trans "Registration" %}</h4>
                            <hr class="separator">
                            <form class="signup" id="signup_form" method="POST" action="{% url 'account_signup' %}">{% csrf_token %}

                                <input type="hidden" name="recaptcha_token" id="recaptcha-token-input" value="">
                                {% if form.non_field_errors %}
                                    <div class="alert alert-warning">
                                        {% for error in form.non_field_errors %}
                                            <p>{{ error }}</p>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                <div class="form-row">
                                {% for field in form %}
                                {% if field.name == 'email' %}
                                </div>
                                <div class="form-group">
                                    <label for="{{field.label}}">{{field.label}}:</label>
                                    {{ field }}
                                    {% if field.errors %}
                                        <ul class="errorlist">
                                            {% for error in field.errors%}
                                            <li>{{error}}</li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                    <div style="color: var(--white);" class="mt-2">
                                        Password must contain at least eight characters, including
                                        <ul>
                                        <li class="password-help-text">lower case letter</li>
                                        <li class="password-help-text">upper case letter</li>
                                        <li class="password-help-text">upper case letter</li>
                                        <li class="password-help-text">numeric character</li>
                                        <li class="password-help-text">special character</li>
                                    </ul>
                                    </div>    
                                </div>
                                <div class="form-row">
                                {% else %}
                                <div class="form-group col-md-6">
                                    <label for="{{field.label}}">{{field.label}}:</label>
                                    {{ field }}
                                    {% if field.errors %}
                                        <ul class="errorlist">
                                            {% for error in field.errors%}
                                            <li>{{error}}</li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </div>
                                {% endif %}
                                {% endfor%}
                                </div>

                                {% if redirect_field_value %}
                                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                                {% endif %}

                                <button id="submit-button" class="swaps-from-submit account-button" type="submit">{% trans "Register" %}</button>
                            </form>

                        </div>
                        <div class="form-space"></div>
                    </div> <!-- /container -->
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

</html>
