.idea
.venv
.iml
deployment/.env
deployment/docker-compose.override.yml
deployment/volumes

__pycache__/

django_project/.pycharm_helpers/
celerybeat-schedule*
node_modules/
webpack-stats.*
secret.py
coverage.xml

django_project/.env
django_project/tmp/
django_project/frontend/bundles/
django_project/frontend/stats.json

docs/site/*
docks/mkdocs.yml
.direnv
docs/mkdocs.yml

test-results/
playwright-report/
playwright/.cache/
/django_project/htmlcov/

django_project/frontend/e2e/.auth/
django_project/frontend/.env