
.landing-page-population-overview-container {
    /* Define the gradient background */
    background-image: linear-gradient(to bottom, black, rgba(0, 0, 0, 0.6));
    height:auto;
    display:flex;
    flex-direction:column;
    overflow-x: hidden;
}

.species-card-image-container hr {
    width: 80%;
    border: 1px solid var(--white);
}
