{% extends "base.html" %}
{% load i18n %}

{% block head_title %}Login{% endblock %}


{% block content %}
<section class="login-page fs-background registerSignUpAccount" style="background-color: #000000; min-height:var(--min-content-height);">
    <div class="container-fluid full-height">
        <div class="row half-height">
            <div class="col-12 col-md-5 col-lg-7"></div>
            <div class="col-12 col-md-7 col-lg-5 sawps-text-primary registerSignUp">
            <div class="account-form content">
                <div class="custom-form-container">
                <h4 class="account-form-title">{% trans "Two-Factor Authentication" %}</h4>
                <hr class="separator">
                <form method="post">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <p><label style="color:#ffff">OTP code</label></p>
                <p>{{ form.otp_token }}</p>

                <div class="login-help text-center" style="color:#ffff">
                Use your preferred authenticator application to generate an OTP
                </div>
                <button class="sawps-from-submit account-button" type="submit">
                    {% trans 'Authenticate' %}
                </button>
                </form>
                <div class="login-help text-center">
                    <a id="lostDeviceLink" href="javascript:void(0)">{% trans "Lost your device?" %}</a>
                  </div>
                  <!-- Hidden paragraph -->
                  <p id="contactAdmin" style="display: none;">Contact the system administrator.</p> <!-- contact number still to be provided -->
            </div>
            </div>
</div>
</div>
</div>
    <script>
    document.addEventListener('DOMContentLoaded', function() {
      // Get references to the link and the hidden paragraph
      const lostDeviceLink = document.getElementById('lostDeviceLink');
      const contactAdmin = document.getElementById('contactAdmin');

      // Add a click event listener to the link
      lostDeviceLink.addEventListener('click', function() {
        // Toggle the visibility of the hidden paragraph
        if (contactAdmin.style.display === 'none') {
          contactAdmin.style.display = 'block';
        } else {
          contactAdmin.style.display = 'none';
        }
      });
    });
    </script>
</section>
{% endblock %}
