.overflow-auto-chart {
    overflow: auto;
    width: calc(100vw - 440px);
    max-height: calc(100vh - 130px);
}

.card-chart {
    padding: 15px;
    min-height: 200px;
    margin-bottom: 20px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.species-donut-chart-container {
    width: 380px;
    padding-bottom: 20px;

    .chart-img-container {
        margin-top: -100px !important;
        transform: translate(-22.5%, -22.5%) !important;
    }
}

.main-chart {
    width: 100%;
    display: flex;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    gap: 30px;

    .chart-left {
        width: 750px;
    }

    .chart-right {
        width: 750px;
    }

    .white-chart {
        background: #FFF;
        padding: 15px;
        margin-bottom: 20px;
        width: 750px;
        border-radius: 4px;

        .white-chart-heading {
            width: 100%;
            text-align: left;

            p {
                text-align: left;
                align-items: center;
                display: flex;
                margin-bottom: 20px;
                gap: 10px;

                .selecedown {
                    .MuiSelect-select {
                        padding-top: 7.5px;
                        padding-bottom: 7.5px;
                    }
                }
            }
        }

        .charBox {
            width: 100%;
        }

        .chart-img {
            position: absolute;
            width: 106px;
            top: 46px;
            left: 27px;
            text-align: center;
            height: 98px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .icon-image {
                width: 65px;
                margin: 0 auto;

                img {
                    max-width: 100%;
                }
            }
        }

        .charttext {
            font-size: 20px;
            font-weight: 400;
            line-height: 23px;
            text-shadow: 2px 2px 4px #838383;
        }

        .chartHalf {
            width: 322px;
            position: relative;
            margin-bottom: 0px;

            .text-left {
                text-align: left;
            }
        }

    }


    .chartFullWidth {
        width: 100%;
    }

    .boxChart-lion {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between;

        .white-chart {
            width: 363px;
        }
    }
}

.chart-container {
    position: relative;

    canvas {
        position: relative;
    }
}

.chart-container::before {
    content: " ";
    position: absolute;
    top: 97px;
    left: 84px;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #fff;
    bottom: 0px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.leftBoxRound {
    flex-direction: column;
}

.BoxChartType {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.barchart-head {
    width: 100%;
    display: flex;
    margin-bottom: 12px;
    margin-top: 11px;

    .barchart-head-left {
        width: 160px;
    }

    .barchart-head-right {
        width: calc(100% - 160px);
        display: flex;
        gap: 20px;
        justify-content: center;
        align-items: center;
        position: relative;
        img{
            position: absolute;
            right: 0;
        }
    }
}

.white-chart1 {
    margin-bottom: 20px;
}

.barChartBox {
    width: 100%;
    display: flex;

    .barchartleft {
        width: 160px;
        padding-right: 20px;
        display: flex;
        flex-direction: column;

        .adult-box {
            text-align: left;
            min-height: 35px;
            vertical-align: middle;
            display: flex;
            align-items: center;
            margin-bottom: 8px;
        }
    }

    .barchartright {
        width: calc(100% - 160px);
        margin-bottom: 24px;
    }
}

.chartBottom {
    width: 100%;
    display: flex;

    .chartBottom-left {
        width: 160px;
        padding-right: 20px;
    }

    .chartBottom-right {
        width: calc(100% - 160px);
        display: flex;
        align-items: center;
        justify-content: center;

        .femaleBox {
            width: 100%;
        }
    }
}
