.overflow-auto-chart {
    overflow: auto;
    width: calc(100vw - 440px);
    max-height: calc(100vh - 207px);
}

.card-chart {
    padding: 15px;
    min-height: 200px;
    margin-bottom: 20px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.species-donut-chart-container {
    width: 380px;
    padding-bottom: 20px;
}

.main-chart {
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;

    .chart-left {
        width: 750px;
    }

    .chart-right {
        width: 750px;
    }

    .white-chart {
        background: #FFF;
        padding: 15px;
        margin-bottom: 20px;
        width: 100% !important;
        border-radius: 4px;

        .white-chart-heading {
            width: 100%;
            text-align: left;

            p {
                text-align: left;
                align-items: center;
                display: flex;
                margin-bottom: 20px;
                gap: 10px;

                .selecedown {
                    .MuiSelect-select {
                        padding-top: 7.5px;
                        padding-bottom: 7.5px;
                    }
                }
            }
        }

        .charBox {
            width: 100%;
        }

        .chart-img {
            position: absolute;
            width: 106px;
            top: 50px;
            left: 25px;
            text-align: center;
            height: 98px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        .chart-img .icon-image {
            width: 65px;
            margin: 0 auto;
        }

        .chart-img .icon-image img {
            max-width: 100%;
        }

        .charttext {
            font-size: 20px;
            font-weight: 400;
            line-height: 23px;
            text-shadow: 2px 2px 4px #838383;
        }

        .chartHalf {
            width: 322px;
            position: relative;
            margin-bottom: 0px;

            .text-left {
                text-align: left;
            }
        }

    }

    .chartFullWidth {
        width: 100%;
    }

    .boxChart-lion {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between;

        .white-chart {
            width: 363px;
        }
    }
}

.chart-container {
    position: relative;

    canvas {
        position: relative;
    }
}

.chart-container::before {
    content: " ";
    position: absolute;
    top: 97px;
    left: 84px;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #fff;
    bottom: 0px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.leftBoxRound {
    flex-direction: column;
}

.BoxChartType {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.barchart-head {
    width: 100%;
    display: flex;
    margin-bottom: 12px;
    margin-top: 11px;

    .barchart-head-left {
        width: 160px;
    }

    .barchart-head-right {
        width: calc(100% - 160px);
        display: flex;
        gap: 20px;
        justify-content: center;
        align-items: center;
        position: relative;

        img {
            position: absolute;
            right: -30px;
        }
    }
}

.white-chart1 {
    margin-bottom: 20px;
}

.barChartBox {
    width: 100%;
    display: flex;

    .barchartleft {
        width: 160px;
        padding-right: 20px;
        display: flex;
        flex-direction: column;

        .adult-box {
            text-align: left;
            min-height: 35px;
            vertical-align: middle;
            display: flex;
            align-items: center;
            margin-bottom: 8px;

            @media (max-width: 1600px) {
                min-height: 25px;
            }
        }
    }

    .barchartright {
        width: calc(100% - 160px);
        margin-bottom: 24px;
    }
}

.chartBottom {
    width: 100%;
    display: flex;

    .chartBottom-left {
        width: 160px;
        padding-right: 20px;
    }

    .chartBottom-right {
        width: calc(100% - 160px);
        display: flex;
        align-items: center;
        justify-content: center;

        .femaleBox {
            width: 100%;
        }
    }
}

.white-species {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 30px;

    .white-chart-species {
        width: 65%;
        display: flex;
        flex-direction: column;

        .AreaDataValue {
            width: 100%;
        }

        .total-heading {
            width: 100%;
            text-align: center;
            margin-bottom: 20px;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            color: #000;
        }
    }

    .white-species-text {
        width: 35%;
        display: flex;
        flex-direction: column;
        padding-left: 20px;

        .species-Typography {
            margin-bottom: 10px;
            gap: 15px;
            display: flex;
        }
    }

    @media (max-width: 1600px) {
        flex-direction: column;
        gap: 20px;

        .white-chart-species {
            width: 100%;
        }

        .white-species-text {
            width: 100%;
        }
    }
}

.info-message {
    text-align: left;
    font-weight: bold;
}

.downlodBtnbox {
    width: 100%;
    padding-bottom: 20px;
    display: flex;
    gap: 15px;
    justify-content: flex-end;
    padding-top: 20px;
    margin: 0;
    padding-right: 33px;
}




.charts-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(65vw, 1fr)); /* Automatically adjust to fit two charts per row */
    gap: 16px; /* Adjust the gap between charts */
    max-width: 100%; /* Ensure the charts don't exceed the container width */
    padding: 16px; /* Add padding to the container */
    // background-color: #fff; /* make background same color can increase visibility on downloaded pdf */
    box-shadow: none;
    border-bottom: none;
    flex-wrap: wrap; /* Allow charts to wrap to the next line if there's not enough space */
}

  
  .charts-container  > * {
    flex: 1;
    margin: 8px;
  }

  /* Adjust column width for smaller screens */
@media screen and (max-width: 768px) {
    .charts-container {
        grid-template-columns: repeat(auto-fill, minmax(80vw, 1fr));
        margin-left: 55px;
    }
}

/* Further adjustments for even smaller screens  */
@media screen and (max-width: 480px) {
    .charts-container {
        grid-template-columns: repeat(auto-fill, minmax(90vw, 1fr));
    }
}
  

