html, body {
  height: 100%;
}

.fs-background {
  height: calc(100% - 98px); 
}

.full-height {
  height: 100%
}

.half-height {
  height: 100%
}


body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --white: #fff;
  --black: #000;
  --primary-color: #70B276;
  --secondary-color: #FAA755;
  --green: #70B276;
  --orange: #FAA755;
  --purple: #9D85BE;
  --space-unit: 1em;
  --space-xxs: calc(0.25 * var(--space-unit));
  --space-xs: calc(0.5 * var(--space-unit));
  --space-sm: calc(0.75 * var(--space-unit));
  --space-md: calc(1.25 * var(--space-unit));
  --space-lg: calc(2 * var(--space-unit));
  --space-xl: calc(3.25 * var(--space-unit));
  --space-xxl: calc(5.25 * var(--space-unit));
  --green-darken-1: #43A047;
  --black-gray: rgba(0, 0, 0, 0.6);
  --black-darker: rgba(0, 0, 0, 0.87);
  --black-transparent: rgba(0, 0, 0, 0.12);
  --black-custom-primary: #282829;
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #FAA755;
    --bs-btn-border-color: #FAA755;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #FAA755;
    --bs-btn-hover-border-color: #FAA755;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #FAA755;
    --bs-btn-active-border-color: #FAA755;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #FAA755;
    --bs-btn-disabled-border-color: #FAA755;
  }

  .btn-primary {
    color: #000000;
    background-color: #FAA755;
    border-color: #FAA755;
    text-transform: uppercase;
  }

  .btn-primary:hover, .btn-primary:focus, .btn-primary:visited, .btn-primary:active {
    color: #000000;
    background-color: #FAA755;
    border-color: #FAA755;
}

.account-action {
  position: relative;
  background: url("/static/images/lion.png") no-repeat;
  background-size: contain;

}

.login-page{
  position: relative;
  background: url("/static/images/leopard.jpg") no-repeat;
  background-size: contain;

}


.account-button{
  color: #000000 !important;
  background-color: var(--orange);
  border: 2px solid var(--orange);
  text-transform: uppercase;
  padding: 3px 20px !important;
  border-radius: 5px;
}

.account-action:before {
  content: "";
  position: absolute;
  background-color: #000000;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.5;
}

.account-form{
  background: #282829;
  border-radius: 4px;
  color: var(--white);
  width: max-content;
  padding: 20px;
  margin-top: 10vh;
}

.custom-form-container{
  margin: 10px;
}

.account-form-title{
  color: var(--white);
  size:34px;
  text-align: center;
}

.login-help{
  color: var(--white);
  font-size: 12px;
  line-height: 24px;
}
.login-help > a{
  color: var(--white);
  text-decoration: none;
}

.swaps-from-submit{
  display: block;
  margin: 0 auto !important;
  position: relative;
}


.swaps-text-primary{
  display: flex;
  justify-content: center;
  height: max-content;
  color: #70B276;
}

hr.separator{
  border-top: 1px solid var(--white);
}

.swaps-text-primary, a {
  color: #86BC8B;
}

a:hover{
  color: #70B276;
}

.upload-picture{
  cursor: pointer;
}

.swaps-text-primary, a {
  color: #86BC8B;
}

a:hover{
  color: #70B276;
}

.upload-picture{
  cursor: pointer;
}


.navbar {
  background-color: #282829;
  color: var(--black);
}

.custom-form-container p{
  display: flex;
  flex-direction: column;
}

 .custom-form-container p label {
   text-align: center;
   color: var(--white);
 }

.custom-form-container p input[type="text"],
.custom-form-container p input[type="email"],
.custom-form-container p input[type="password"] {
   width: 100%;
   box-sizing: border-box;
   background-color: var(--white);
   border-radius: 4px;
   border: 0;
   height: 40px;
   padding-left: 10px;
 }

.error-list, .errorlist {
  list-style-type: none;
  padding: 0;
  color: var(--orange);
}

.navbar-nav.ml-auto {
  display: flex;
  align-items: center;
}

.password-help-text{
  margin-top: -5px !important;
  font-size: small;
}

.form-group label{
  justify-content: center;
  display: flex;
}
