.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #FAA755;
    --bs-btn-border-color: #FAA755;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #FAA755;
    --bs-btn-hover-border-color: #FAA755;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #FAA755;
    --bs-btn-active-border-color: #FAA755;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #FAA755;
    --bs-btn-disabled-border-color: #FAA755;
  }

  .btn-primary {
    color: #000000;
    background-color: #FAA755;
    border-color: #FAA755;
    text-transform: uppercase;
  }

  .btn-primary:hover, .btn-primary:focus, .btn-primary:visited, .btn-primary:active {
    color: #000000;
    background-color: #FAA755;
    border-color: #FAA755;
}

.account-action {
  position: relative;
  background-color: #000000;
  background: url("/static/images/lion.png") no-repeat;
  background-size: cover;
  padding-top: 7rem;
  padding-bottom: 7rem;

}

.account-button{
  color: #000000 !important;
  border-radius: 2px;
  background-color: #FAA755;
  padding-top: 7px;
  padding-bottom: 7px;
  border: 2px solid #FAA755;
  text-transform: uppercase;
}

.account-action:before {
  content: "";
  position: absolute;
  background-color: #000000;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.5;
}

.account-form{
  background: #282829;
  border-radius: 4px;
  float: right;
  margin-left: auto;
  margin-top: 0;
}

.custom-form-container{
  margin-top: 40px;
  margin-bottom: 10px;
}

.account-form-title{
  color: #70B276;
  size:34px;
  height:40px;
  text-align: center;
}

.login-help > a{
  text-decoration: none;
  color: #70B276;
}

.custom-form-submit{
  display: block;
  margin: 0 auto !important;
  position: relative;
}

.account-form{
  min-height: 300px;
}

.swaps-text-primary, a {
  color: #86BC8B;
}

a:hover{
  color: #70B276;
}
