html,
body {
  height: 100%;
}

.fs-background {
  height: calc(100% - 214px);
}
.fsBackground{
  height: calc(100% - 214px);
}
@media screen and (max-width:770px ) {
  .fsBackground{
    height: calc(100% - -100px);
  }
}

.full-height {
  height: 100%
}

.half-height {
  height: 100%
}


body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --white: #fff;
  --black: #000;
  --primary-color: #70B276;
  --secondary-color: #FAA755;
  --green: #70B276;
  --orange: #FAA755;
  --purple: #9D85BE;
  --red: #FF5252;
  --min-content-height: 92vh;
  --space-unit: 1em;
  --space-xxs: calc(0.25 * var(--space-unit));
  --space-xs: calc(0.5 * var(--space-unit));
  --space-sm: calc(0.75 * var(--space-unit));
  --space-md: calc(1.25 * var(--space-unit));
  --space-lg: calc(2 * var(--space-unit));
  --space-xl: calc(3.25 * var(--space-unit));
  --space-xxl: calc(5.25 * var(--space-unit));
  --green-darken-1: #43A047;
  --black-gray: rgba(0, 0, 0, 0.6);
  --black-darker: rgba(0, 0, 0, 0.87);
  --black-transparent: rgba(0, 0, 0, 0.12);
  --dark-gray: rgb(40, 40, 41);
  --black-custom-primary: #282829;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #FAA755;
  --bs-btn-border-color: #FAA755;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #FAA755;
  --bs-btn-hover-border-color: #FAA755;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #FAA755;
  --bs-btn-active-border-color: #FAA755;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #FAA755;
  --bs-btn-disabled-border-color: #FAA755;
}

.btn-primary {
  color: #000000;
  background-color: #FAA755;
  border-color: #FAA755;
  text-transform: uppercase;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:visited,
.btn-primary:active {
  color: #000000;
  background-color: #FAA755;
  border-color: #FAA755;
}

.clickable {
  cursor: pointer;
}

.modal-dialog-centered.modal-sm {
  max-width: 320px;
}

.modal-body {
  padding: 20px;
  text-align: center;
}

.modal-title {
  margin-bottom: 15px;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  font-weight: bold;
  color: #000;
  opacity: 0.5;
  transition: opacity 0.3s ease;
}

.close:hover {
  opacity: 1;
}

form {
  margin-bottom: 0;
}

.btn-success {
  width: 100%;
  background-color: #28a745;
  border-color: #28a745;
}

.btn-success:hover {
  background-color: #218838;
  border-color: #218838;
}

.modal-dialog-centered.modal-lg {
  max-width: 800px;
}

.modal-header-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: black;
}

.text-black {
  color: black;
}

.btn-sm.badge-btn {
  font-size: 12px;
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  border-radius: 5px;
  background-color: #28a745;
  border-color: #28a745;
  color: white;
  width: 95%;
}

.center-button {
  display: block;
  margin: 0 auto;
}

.success-animation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.success-circle {
  width: 70px;
  height: 70px;
}

.success-circle-bg {
  fill: none;
  stroke: #28a745;
  stroke-width: 2;
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-linecap: round;
  animation: success-circle-fill 0.6s ease forwards;
}

.success-tick {
  fill: none;
  stroke: #28a745;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-dasharray: 25;
  stroke-dashoffset: 25;
  transform-origin: 50% 50%;
  animation: success-tick-draw 0.6s 0.3s ease forwards;
}

.success-message {
  text-align: center;
  font-weight: bold;
}

@keyframes success-circle-fill {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes success-tick-draw {
  to {
    stroke-dashoffset: 0;
  }
}



.account-action {
  position: relative;
  background: url("/static/images/lion.png") no-repeat;
  background-size: contain;

}

.login-page {
  position: relative;
  background: url("/static/images/leopard.jpg") no-repeat;
  background-size: contain;

}


.account-button {
  color: #000000 !important;
  background-color: var(--orange);
  border: 2px solid var(--orange);
  text-transform: uppercase;
  padding: 3px 20px !important;
  border-radius: 5px;
}

.account-action:before {
  content: "";
  position: absolute;
  background-color: #000000;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.5;
}

.account-form {
  background: #282829;
  border-radius: 4px;
  color: var(--white);
  width: max-content;
  padding: 20px;
  max-width: 400px;
}

.custom-form-container {
  margin: 10px;
}

.account-form-title {
  color: var(--white);
  size: 34px;
  text-align: center;
}

.login-help {
  color: var(--white);
  font-size: 12px;
  line-height: 24px;
}

.login-help>a {
  color: var(--white);
  text-decoration: none;
}

.sawps-from-submit {
  display: block;
  margin: 0 auto !important;
  position: relative;
}


.sawps-text-primary {
  display: flex;
  justify-content: center;
  height: max-content;
  color: #70B276;
}

hr.separator {
  border-top: 1px solid var(--white);
}

.sawps-text-primary,
a {
  color: #86BC8B;
}

a:hover {
  color: #70B276;
}

.upload-picture {
  cursor: pointer;
}

.sawps-text-primary,
a {
  color: #86BC8B;
}

a:hover {
  color: #70B276;
}

.upload-picture {
  cursor: pointer;
}


.navbar {
  background-color: #282829;
  color: var(--black);
}

.custom-form-container p {
  display: flex;
  flex-direction: column;
}

.custom-form-container p label {
  text-align: center;
  color: var(--white);
}

.custom-form-container p input[type="text"],
.custom-form-container p input[type="email"],
.custom-form-container p input[type="password"] {
  width: 100%;
  box-sizing: border-box;
  background-color: var(--white);
  border-radius: 4px;
  border: 0;
  height: 40px;
  padding-left: 10px;
}

.error-list,
.errorlist {
  list-style-type: none;
  padding: 0;
  color: var(--orange);
}

.navbar-nav.ml-auto {
  display: flex;
  align-items: center;
}

.password-help-text {
  margin-top: -5px !important;
  font-size: small;
}

.signup .form-group label,
.contact .form-group label {
  justify-content: center;
  display: flex;
}

.page-title {
  color: var(--green)
}

hr.default-separator {
  border-top: 1px solid var(--green);
}

.profile-actions {
  justify-content: center;
}

.profile-actions button {
  width: 100%;
}

.sawps-small-font-button {
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
}

.sawps-font-button {
  color: #fff;
  text-transform: uppercase;
  padding: 3px 20px !important;
}

.sawps-font-button-black {
  color: #000000 !important;
  text-transform: uppercase;
  padding: 3px 20px !important;
}

.green-button {
  background-color: var(--green);
  border: 2px solid var(--green);
  border-radius: 5px;
  transition: color 0.3s;
}

.gray-button {
  background-color: #A9A9AA;
  border: 2px solid #A9A9AA;
  border-radius: 5px;
  transition: color 0.3s;
}

.red-button {
  background-color: var(--red);
  border: 2px solid var(--red);
  border-radius: 5px;
  transition: color 0.3s;
}

.purple-button {
  background-color: var(--purple);
  border: 2px solid var(--purple);
  border-radius: 5px;
  transition: color 0.3s;
}

.orange-button {
  background-color: var(--orange);
  border: 2px solid var(--orange);
  border-radius: 5px;
  transition: color 0.3s;
}

.button:hover {
  color: black;
}

.profile-picture {
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: .25rem;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  color: var(--green);
  background-color: var(--white);
  border-bottom: 1px solid var(--green);

}

.nav-pills .nav-link {
  border-radius: 0;
  width: 20%;
  text-align: center;
}

/* Customize modal */
.modal-header {
  display: -ms-flexbox;
  border-bottom: 0;
  color: var(--green);
  display: block;
  text-align: center;
}

/* Help page */

.help-container {
  display: flex;
  width: 100vw;
}

.help-content-container {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: var(--black);
}

.help-banner-img {
  position: relative;
  background: url('/static/images/help/help_page_banner.png');
  background-size: contain;
}

.help-btns-container {
  display: flex;
}

.help-content-title {
  color: var(--white)
}

.help-text {
  color: var(--white)
}

.help-btns-container {
  display: flex;
  margin-top: 15px;
}


.help-content-container {
  flex-direction: row;
}

.help-image-container {
  width: 100%;
  flex-basis: 50%;
  height: 100%;
}

.help-banner-img {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.help-texts-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.help-content-title {
  width: 100%;
  font-size: 35px;
}

.help-text-container {
  width: 100%;
  display: flex;
}

.help-background{
  min-height: inherit !important;
  height: calc(100% - 184px);
}

.help-text {
  width: 95%;
  text-align: justify;
}

.section-text {
  transform: translateY(50%);
  text-transform: uppercase;
}

.about-subsection-1 {
  display: flex;
  flex-direction: row;
}

.about-page {
  background-image: url('/static/images/about/about_page_main_img.png');
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;

}

.about-content-title {
  color: var(--white);
  font-size: 25px;
  height: 70px;
  padding-top: 36px;
  text-transform: uppercase;
}

.about-subsection-1-text {
  color: var(--white);
  text-align: initial;
  margin-top: 10px;
  width: 80%;
  font-size: 15px;
}


.about-section {
  height: 70px;
  border-radius: 4px;

}

.subsection {
  display: flex;
  flex-direction: row;
}

.section-img {
  flex-basis: 10%;
  transform: translateY(30%);
}

.section-img img {
  position: absolute;
  padding-left: 5px;
  padding-right: 20px;
}

.about-subsection-1-video-holder iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.about-subsection-2 {
  background-size: contain;
  background: linear-gradient(90.07deg, var(--green) 70.69%, rgba(117, 179, 122, 0) 103.61%);
  width: 100%;
}

.about-subsection-3 {
  background-size: contain;
  background: linear-gradient(89.95deg, var(--orange) 67.67%, rgba(249, 169, 93, 0) 101.73%);
  width: 100%;
  margin-top: 10px;
}

.about-subsection-4 {
  background-size: contain;
  background: linear-gradient(90deg, var(--purple) 72.85%, rgba(159, 137, 191, 0) 100%);
  width: 100%;
  margin-top: 10px
}

.about-subsection-5 {
  background-size: contain;
  background: linear-gradient(90deg, #A2A2A2 72.85%, rgba(159, 137, 191, 0) 100%);
  width: 100%;
  margin-top: 10px
}

.about-content-container {
  display: flex;
  flex-basis: 50%;
  background-color: black;
  height: 100%;
}


@media screen and (min-width:1072px) {

  .about-container {
    display: flex;
    position: relative
  }

  .about-image-container {
    flex-basis: 52%;
    height: 100vh;
    margin-left: -12px;
  }

  .about-content-container {
    height: 100vh;
    flex-direction: column;
    padding: 0px 10px 0px 10px;
  }

  .about-content-title {
    height: auto;
    padding-top: 18px;
    margin-bottom: 25px;

  }

  .about-subsection-1-text {
    width: 100%;
    font-size: 20px;
    position: relative;
  }


  .about-subsection-1-text p {
    text-align: initial;
    position: absolute;
    padding-left: 20px;
    padding-right: 20px;
    top: 50%;
    transform: translateY(-58%);
  }
  .about-subsection-1-text2{
    margin-top: 0px;
  }
.about-subsection-1-text2 p{

  position: static;
  text-align: left;
  top: 0%;
  transform: translateY(0%) !important;

}

}


@media screen and (min-width:500px) and (max-width: 800px) {
  .help-content-container {
    flex-direction: column;
  }

  .help-image-container {
    width: 100%;
    flex-basis: 75%;
    height: 500px;
  }

  .help-banner-img {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  .help-content-title {
    width: 100%;
    font-size: 25px;
  }

  .help-text-container {
    width: 100%;
    display: flex;
  }

  .help-text {
    width: 80%;
    text-align: justify;
  }

}

/* Footer */
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: var(--black);
}

.footer-logo {
  width: 229px;
  height: 76px;
}

.footer-nav {
  margin-top: 20px;
}

.footer-nav a {
  margin-right: 10px;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  text-decoration: none;
  color: var(--white);
}

.footer-nav a:hover {
  color: #444;
  transition: 0.2s;
}

.vendors-logos-container {
  margin-top: 15px;
}

.ids-logo {
  width: 50px;
  height: 41px;
  margin-right: 15px;
}

.kartoza-white-logo {
  width: 117px;
  height: 38px;
}


@media screen and (min-width:500px) and (max-width:799px) {
  .footer {
    flex-direction: column;
  }

  .footer-nav {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .vendors-logos-container {
    margin-top: 15px;
  }
}


@media screen and (min-width:300px) and (max-width:499px) {
  .footer {
    flex-direction: column;
  }

  .footer-nav {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .vendors-logos-container {
    margin-top: 10px;
  }
}

.about-subsection-1-video-holder {
  flex-basis: 50%;
  height: 100%;
  height: 480px
}

.about-subsection-1-text {
  text-align: center;
  flex-basis: 50%;
}

.about-subsection-2 {
  margin-top: 15px;
}


@media screen and (min-width:801px) and (max-width:1071px) {
  .about-container {
    display: flex;
    position: relative
  }

  .about-image-container {
    flex-basis: 50%;
    height: 100vh;
    margin-left: -12px;
  }

  .about-content-container {
    height: 100vh;
    flex-direction: column;
    padding: 0px 10px 0px 10px;
  }

  .about-content-title {
    height: auto;
    padding-top: 18px;
    margin-bottom: 25px;

  }

  .about-subsection-1-text {
    text-align: left;
    width: 100%;
  }

}


@media screen and (min-width:500px) and (max-width:800px) {
  .about-container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 2fr;
  }

  .about-image-container {
    height: 415px;
    background-color: black;
  }

  .about-content-container {
    flex-basis: 60%;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about-image-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .about-content-title {
    background-color: black;
    color: var(--white);
    margin-bottom: 15px;
  }

  .about-content-container {
    display: flex;
    flex-direction: column;
  }

  .about-subsection-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about-subsection-1-video-holder {
    width: 78%;

    iframe {
      width: 100%;
      height: 100%;
    }
  }

  .about-subsection-1-text {
    width: 78%;
  }

  .about-subsection-2 {
    margin-top: 10px;
  }

  .about-content-container {
    flex-direction: column;
  }

}

@media screen and (min-width:300px) and (max-width:499px) {
  .about-image-container {
    height: 100vh;
    margin-left: -10px;
  }

  .about-content-container {
    flex-direction: column;
    height: auto;
    align-items: center;
  }

  .about-content-title {
    height: 125px;
    text-align: center;
  }

  .about-subsection-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about-subsection-1-video-holder {
    width: 85%;

    iframe {
      width: 100%;
    }
  }

  .about-subsection-1-text {
    width: 85%;
  }

  .about-subsection-2,
  .about-subsection-3,
  .about-subsection-4,
  .about-subsection-5 {
    width: 85%;
    margin-top: 5px;
  }
}

/* Contact */

.contact-banner-img {
  position: relative;
  background: url('/static/images/contact/contact.png') no-repeat;
  background-size: contain;
}
.contact-page{
  width: 100%;
  max-width: 100%;
}

.logoutBox{
  display: flex;
  align-items: center;
  justify-content: center;
}
.registerSignUp{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.registerSignUp .account-form{
  width: 100%;
}

@media (max-width:1900px) {
  .about-subsection-1-text p {
    transform: translateY(-50%);
  }
}
@media (max-width:1700px) {
  .about-subsection-1-text p {
    transform: translateY(0%);
  }
  .about-page{
    height: auto;
}
.about-page .position-absolute{
  position: static !important;
}
.about-subsection-1-text p {
  position: static;
}
.about-subsection-1-text {
  margin-top: 0px;
}
.about-subsection-1-video-holder {
  flex-basis: inherit;
  min-width: 450px;
}
.about-subsection-1-text p {
  font-size: 18px;
}
}
@media (max-width:1280px) {
  .about-subsection-1 {
    flex-direction: column;
  }.about-subsection-1-text p {
    position: static;
    transform: translateY(0%);
  }
}
@media (max-width:1200px) {
  .about-page{
    height: auto;
}
.about-page .position-absolute{
  position: static !important;
}
.section-text {
  transform: translateY(5%);
}
.footer-nav a{
  font-size: 14px;
}
.section-text h4{
  font-size: 16px;
  padding-top: 21px;
}
.section-img {
    transform: translateY(34%);
  }

.about-subsection-1-text {
  margin-top: 20px;
}
.about-content-title{
  background-color: transparent;
  height: auto;
}
.contact-page{
  position: static !important;
}
.contact-banner-img{
  height: auto;
}

.contact-banner-img {
  background-size: 520px;
}
.account-form{
  margin-top: 160px;
}
.logoutBox .account-form{
  margin-top: 0px;
}
.registerSignUp .account-form{
  margin-top: 0px;
}

}

@media (max-width:992px) {
  .account-form {
    margin-top: 300px;
  }
  .contact-banner-img {
    background-size: 300px;
    background-position: top center;
  }
  .logoutBox .account-form{
    margin-top: 0px;
  }
  .registerSignUp .account-form{
    margin-top: 0px;
  }
  .registerSignUp .account-button{
    margin-top: 20px !important;
  }
}

@media (max-width:767px) {

  .about-page{
      height: auto;
      padding-top: 600px;
  }
  .about-page .position-absolute{
    position: static !important;
  }
  .section-text {
    transform: translateY(5%);
  }
  .section-text h4{
    font-size: 16px;
    padding-top: 21px;
  }
  .footer-nav {
    display: flex;
    flex-wrap: wrap;
    padding: 0 20px;
    justify-content: center;
  }
  .footer-nav a{
    font-size: 14px;
  }
  .about-content-title{
    background-color: transparent;
    text-align: center;
  }
  .section-img {
    transform: translateY(47%);
  }
  .account-form {
    margin-top: 300px;
  }
  .contact-banner-img {
    background-size: 300px;
    background-position: top center;
  }
  .logoutBox .account-form{
    margin-top: 0px;
  }
  .registerSignUpAccount{
    min-height: inherit !important;
    height: auto !important;
  }
  .registerSignUpAccount .position-absolute{
    position: static !important;
  }
  .registerSignUp .account-form{
    margin-top: 300px;
  }
  .registerSignUp .signup .form-group label,  .registerSignUp .contact .form-group label {
    justify-content: flex-start;
  }
}

@media (max-width:520px) {

  .about-page{
      padding-top: 300px;
  }
  .about-page .position-absolute{
    position: static !important;
  }
  .section-text {
    transform: translateY(5%);
  }
  .section-text h4{
    font-size: 16px;
    padding-top: 1px;
  }
  .about-section{
    height: auto;
  }
  .footer-nav {
    display: flex;
    flex-wrap: wrap;
    padding: 0 20px;
    justify-content: center;
  }
  .footer-nav a{
    font-size: 14px;
  }
  .about-subsection-1-video-holder {
    min-width: 100%;
  }



}

.instruction {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}
