.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #FAA755;
    --bs-btn-border-color: #FAA755;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #FAA755;
    --bs-btn-hover-border-color: #FAA755;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #FAA755;
    --bs-btn-active-border-color: #FAA755;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #FAA755;
    --bs-btn-disabled-border-color: #FAA755;
  }

  .btn-primary {
    color: #000000;
    background-color: #FAA755;
    border-color: #FAA755;
    text-transform: uppercase;
  }

  .btn-primary:hover {
    color: #000000;
    background-color: #FAA755;
    border-color: #FAA755;
}