.navbar {
    background-color: #282829;
    color: var(--black);
    box-shadow: none;
}

.logo-wrapper {
    display: flex;
}

.logo-wrapper img {
    height: auto;
    max-width: 100%;
}

#navbarNav .navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}
