version: '3.9'
services:
  db:
    volumes:
      - ./volumes/database:/opt/postgres/data
      - ./volumes/backups:/backups
    ports:
      - "${DATABASE_PORT:-6432}:5432"

  dbbackups:
    volumes:
      - ./volumes/backups:/backups

  worker:
    image: kartoza/sanbi_dev
    build:
      context: ../
      dockerfile: deployment/docker/Dockerfile
      target: vscode
    volumes:
      - ../:/home/web/project
      - ../django_project:/home/web/django_project
      - ./volumes/media:/home/web/media
      - ./volumes/layer_tiles:/opt/layer_tiles

  dev:
    image: kartoza/sanbi_dev
    build:
      context: ../
      dockerfile: deployment/docker/Dockerfile
      target: vscode
    entrypoint: []
    volumes:
      - ../:/home/web/project
      - ./volumes/static:/home/web/static
      - ./volumes/media:/home/web/media
      - ./volumes/plumber_data:/home/web/plumber_data
    links:
      - db
      - worker
      - plumber
  
  tegola:
    volumes:
      - ./tegola:/opt/tegola_config
      - ./volumes/layer_tiles:/opt/layer_tiles
    ports:
      - "${TEGOLA_DEV_PORT:-9191}:9090"
    links:
      - db
  
  plumber:
    build:
      context: ../
      dockerfile: deployment/plumber/Dockerfile
      target: vscode
    volumes:
      - ../django_project:/home/web/django_project
      - ./volumes/plumber_data:/home/web/plumber_data
      - ./volumes/media:/home/web/media
    ports:
      - "${PLUMBER_PORT:-8181}:8181"
    links:
      - db
      - redis
