version: '3.9'
services:
  db:
    volumes:
      - ./volumes/database:/opt/postgres/data
      - ./volumes/backups:/backups
    ports:
      - "${DATABASE_PORT:-6432}:5432"

  dbbackups:
    volumes:
      - ./volumes/backups:/backups

  worker:
    image: kartoza/sanbi_dev
    build:
      context: ../
      dockerfile: deployment/docker/Dockerfile
      target: vscode
    volumes:
      - ../:/home/web/project
      - ./volumes/static:/home/web/static
      - ./volumes/media:/home/web/media

  dev:
    image: kartoza/sanbi_dev
    build:
      context: ../
      dockerfile: deployment/docker/Dockerfile
      target: vscode
    entrypoint: []
    volumes:
      - ../:/home/web/project
      - ./volumes/static:/home/web/static
      - ./volumes/media:/home/web/media
    links:
      - db
      - worker
  
  tegola:
    volumes:
      - ./tegola:/opt/tegola_config
      - ./volumes/layer_tiles:/opt/layer_tiles
    ports:
      - "${TEGOLA_DEV_PORT:-9090}:9090"

  nginx:
    volumes:
      - ./nginx/sites-enabled:/etc/nginx/conf.d:ro
      - ./volumes/static:/home/web/static
      - ./volumes/media:/home/web/media
    ports:
      - "${HTTP_PORT:-8888}:80"
    links:
      - django
      - tegola
