.OnlineFormWizard {
    height: 100%;
    padding-top: 20px;
    padding-bottom: 20px;

    .MuiButton-root {
        min-width: 150px;
    }

    .TabHeaders {
        padding-left: 10px;

        .MuiStepper-root {
            width: 60%;
            margin-left: auto;
            margin-right: auto;

            .form-dirty {
                .MuiStepLabel-label.Mui-active::after {
                    content: "*";
                }
            }

            .MuiStepLabel-label {
                color: rgba(0, 0, 0, 0.6);

                &.Mui-active {
                    color: rgba(0, 0, 0, 0.87);
                    font-weight: 600 !important;
                }
            }
        }
    }

    .OnlineFormWizardContent {
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        flex-wrap: nowrap;
        flex: 1 1 auto;
        height: 0px;
        padding: 10px 20px;
    }

    label {
        color: unset;
    }

    .InputContainer {
        text-align: left;

        .Calendar {
            input {
                padding-top: 4px;
            }
        }

        /* make radio button and its label same as standard input */
        .CustomRadioButtonLabel {
            display: block;
            transform-origin: top left;
            white-space: nowrap;
            max-width: 133%;
            position: absolute;
            left: 0;
            top: 0;
            -webkit-transform: translate(0, -1.5px) scale(0.75);
            -moz-transform: translate(0, -1.5px) scale(0.75);
            -ms-transform: translate(0, -1.5px) scale(0.75);
            transform: translate(0, -1.5px) scale(0.75);
            -webkit-transition: color 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms,-webkit-transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms,max-width 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
            transition: color 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms,transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms,max-width 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
        }

        .RadioGroup {
            margin-top: 18px;
            label {
                margin-bottom: 0;
            }

            .MuiRadio-root {
                padding: 5px 9px;
            }
        }

        .DropdownInput {
            min-width: 160px;
        }

        .MuiInputBase-root.Mui-disabled::before {
            border-bottom-style: solid;
        }
    }

    .DataPreview {
        .Mui-disabled:before {
            border-bottom-style: none;
        }
        label.Mui-disabled {
            color: rgba(0, 0, 0, 0.6);
        }
        .MuiInputBase-root {
            color: rgba(0, 0, 0, 0.87);
        }
        input.Mui-disabled {
            -webkit-text-fill-color: unset;
        }
    }
}