.OnlineFormWizard {
    height: 100%;
    padding-top: 20px;
    padding-bottom: 20px;

    .MuiButton-root {
        min-width: 150px;
    }

    .TabHeaders {
        padding-left: 10px;

        .MuiStepper-root {
            width: 60%;
            margin-left: auto;
            margin-right: auto;

            .form-dirty {
                .MuiStepLabel-label.Mui-active::after {
                    content: "*";
                }
            }

            .MuiStepLabel-label {
                color: rgba(0, 0, 0, 0.6);

                &.Mui-active {
                    color: rgba(0, 0, 0, 0.87);
                    font-weight: 600 !important;
                }
            }
        }
    }

    .OnlineFormWizardContent {
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        flex-wrap: nowrap;
        flex: 1 1 auto;
        height: 0px;
        padding: 10px 20px;
    }

    label {
        color: unset;
    }

    .InputContainer {
        text-align: left;

        .Calendar {
            input {
                padding-top: 4px;
            }
        }

        /* make radio button and its label same as standard input */
        .CustomRadioButtonLabel {
            display: block;
            transform-origin: top left;
            white-space: nowrap;
            max-width: 133%;
            position: absolute;
            left: 0;
            top: 0;
            -webkit-transform: translate(0, -1.5px) scale(0.75);
            -moz-transform: translate(0, -1.5px) scale(0.75);
            -ms-transform: translate(0, -1.5px) scale(0.75);
            transform: translate(0, -1.5px) scale(0.75);
            -webkit-transition: color 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms,-webkit-transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms,max-width 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
            transition: color 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms,transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms,max-width 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
        }

        .RadioGroup {
            margin-top: 18px;
            label {
                margin-bottom: 0;
            }

            .MuiRadio-root {
                padding: 5px 9px;
            }
        }

        .DropdownInput {
            min-width: 160px;
        }

        .MuiInputBase-root.Mui-disabled::before {
            border-bottom-style: solid;
        }
    }

    .ButtonContainer {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    .CancelUpdateButton {
        margin-right: 10px;
    }

    .DataPreview {
        .Mui-disabled:before {
            border-bottom-style: none;
        }
        label.Mui-disabled {
            color: rgba(0, 0, 0, 0.6);
        }
        .MuiInputBase-root {
            color: rgba(0, 0, 0, 0.87);
        }
        input.Mui-disabled {
            -webkit-text-fill-color: unset;
        }
        .MuiInputBase-root.Mui-disabled::before {
            border-bottom-style: none;
        }
    }

    .ActivityTable {
        width: 100%;
        margin-bottom: 10px;
        .MuiTablePagination-toolbar {
            p {
                margin-bottom: 0.1rem;
            }
        }
        &.EmptyRows {
            .MuiDataGrid-virtualScrollerContent {
                height: 52px !important;
            }
            .MuiDataGrid-overlayWrapperInner {
                height: 52px !important;
            }
        }
    }
}


.select-container {
    display: flex;
    flex-direction: column;
  }
  
  .select-box {
    display: flex;
    flex-direction: column;
    position: relative;
    cursor: pointer;
  }
  
  .select-value {
    margin-top: -1px;
    white-space: nowrap;
    position: relative;
  }
  
  /* Add an underline */
  .select-value::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 75%;
    height: 1px;
    background-color: gray;
  }

  .select-value.error::after {
    background-color: #d32f2f;
  }
  
  .select-box:hover .select-value {
    color: inherit;
    cursor: pointer;
  }
  
