django-nose
coverage
pep8
pylint
pylint-django
flake8
factory_boy
debugpy
pre-commit
black
django-devserver

# documentation
Sphinx

# pdb plus plus
pdbpp
responses
mock==4.0.3

pytest-django
pytest-env==0.8.1
# mock requests
requests-mock

# for bdd
behave-django