body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#app {
    flex: 1;
    flex-direction: column;
    display: flex;
}


.OnlineFormPage {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;

    .LeftSideBar {
        width: 400px;
        height: 100%;
        display: flex;
        flex-direction: column;

        .LeftSideBarContent {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            flex: 1 1 auto;
            height: 0px;
        }

        .EmptyHeader {
            min-height: 48px;
            text-align: center;
            line-height: 48px;
            font-weight: 500;
            padding: 10px;
        }
    }
    
    .Content {
        height: 100%;
    }
}
