/* BASE FOLDER token will be replaced at compile time by our bash script. */


$logo-url: url('file:///home/jeremy/Documents/Kartoza/SANBI/personal_fork/sawps/docs/assets/logo-sanbi.svg');
$corner-logo-url: url('file:///home/jeremy/Documents/Kartoza/SANBI/personal_fork/sawps/docs/templates/KartozaSymbolCMYK.svg');
$header-url: url('file:///home/jeremy/Documents/Kartoza/SANBI/personal_fork/sawps/docs/templates/header.svg');
$footer-url: url('file:///home/jeremy/Documents/Kartoza/SANBI/personal_fork/sawps/docs/templates/footer.svg');