.Upload {
    height: 100%;
    flex-wrap: nowrap;
    .Header {
        min-height: 48px;
        text-align: center;
        line-height: 48px;
        color: var(--primary-color);
        font-weight: 500;
    }
    .UploadContainer {
        width: 100%;
        flex-direction: column;
        flex: 1;
        flex-wrap: nowrap;
    }
    .SearchArea {
        margin-top: 8px;
        margin-bottom: 8px;
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;

        label.MuiInputLabel-root {
            padding-left: 14px;
        }

    }
    .UploadContent {
        padding: 10px;
        display: flex;
        flex-direction: column;
        height: 100%;

        .UploadWizard {
            height: 100%;

            .TabHeaders {
                padding-left: 0px;
        
                .MuiTab-root {
                    min-width: unset;
                }
            }

            .UploadWizardContent {
                display: flex;
                flex-direction: column;
                overflow-y: auto;
                flex-wrap: nowrap;
                flex: 1 1 auto;
                height: 0px;
            }
        }

        .ButtonContainer {
            margin-top: 20px;
        }

        .UploadSection {
            display: flex;
            flex-direction: column;
            margin-top: 10px;

            .UploadSectionHeader {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                color: var(--primary-color);

                .UploadSectionHeaderIcon {
                    margin-right: 5px;

                    &.Boundary {
                        width: 29px;
                        height: 28px;
                        background-image: url("data:image/svg+xml,%3Csvg width='29' height='28' viewBox='0 0 29 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M27.6506 4.35C26.9475 3.64774 25.9944 3.2533 25.0006 3.2533C24.0069 3.2533 23.0537 3.64774 22.3506 4.35C22.0672 4.63124 21.8308 4.95622 21.6506 5.3125L17.7381 4.2375C17.7745 3.70637 17.6962 3.17363 17.5085 2.67542C17.3209 2.17721 17.0283 1.72518 16.6506 1.35C15.9475 0.647744 14.9944 0.253296 14.0006 0.253296C13.0069 0.253296 12.0537 0.647744 11.3506 1.35C10.7628 1.93637 10.3862 2.70124 10.2799 3.52467C10.1736 4.34811 10.3435 5.18355 10.7631 5.9L6.22561 9.9875C5.50395 9.45497 4.61532 9.19872 3.72092 9.26522C2.82652 9.33173 1.98557 9.71659 1.35061 10.35C0.648354 11.0531 0.253906 12.0062 0.253906 13C0.253906 13.9937 0.648354 14.9469 1.35061 15.65C1.69683 16.0006 2.10958 16.2784 2.56464 16.4673C3.0197 16.6562 3.5079 16.7523 4.00061 16.75C4.9343 16.7507 5.83467 16.403 6.52561 15.775L15.5881 22.4375C15.2738 23.1343 15.1783 23.9101 15.3145 24.6623C15.4507 25.4145 15.812 26.1076 16.3506 26.65C16.6979 26.9992 17.1108 27.2763 17.5656 27.4654C18.0204 27.6545 18.5081 27.7519 19.0006 27.7519C19.4931 27.7519 19.9808 27.6545 20.4356 27.4654C20.8904 27.2763 21.3033 26.9992 21.6506 26.65C22.3529 25.9469 22.7473 24.9937 22.7473 24C22.7473 23.0062 22.3529 22.0531 21.6506 21.35C21.4353 21.1308 21.1914 20.9416 20.9256 20.7875L24.4881 10.7125C24.6578 10.7379 24.8291 10.7504 25.0006 10.75C25.4933 10.7523 25.9815 10.6562 26.4366 10.4673C26.8916 10.2784 27.3044 10.0006 27.6506 9.65C28.3529 8.94687 28.7473 7.99375 28.7473 7C28.7473 6.00624 28.3529 5.05312 27.6506 4.35ZM12.4131 2.4125C12.7274 2.09684 13.1283 1.88157 13.565 1.79395C14.0017 1.70634 14.4546 1.75032 14.8663 1.92033C15.278 2.09033 15.63 2.37871 15.8777 2.74894C16.1254 3.11916 16.2576 3.55457 16.2576 4C16.2576 4.44542 16.1254 4.88083 15.8777 5.25105C15.63 5.62128 15.278 5.90966 14.8663 6.07967C14.4546 6.24967 14.0017 6.29365 13.565 6.20604C13.1283 6.11842 12.7274 5.90315 12.4131 5.5875C11.9933 5.16583 11.7576 4.59503 11.7576 4C11.7576 3.40497 11.9933 2.83417 12.4131 2.4125ZM2.41311 14.5875C1.99328 14.1658 1.75758 13.595 1.75758 13C1.75758 12.405 1.99328 11.8342 2.41311 11.4125C2.72738 11.0968 3.12827 10.8816 3.565 10.794C4.00173 10.7063 4.45463 10.7503 4.86634 10.9203C5.27805 11.0903 5.63003 11.3787 5.8777 11.7489C6.12537 12.1192 6.25758 12.5546 6.25758 13C6.25758 13.4454 6.12537 13.8808 5.8777 14.2511C5.63003 14.6213 5.27805 14.9097 4.86634 15.0797C4.45463 15.2497 4.00173 15.2937 3.565 15.206C3.12827 15.1184 2.72738 14.9032 2.41311 14.5875ZM20.5881 25.5875C20.1585 25.9636 19.6021 26.1623 19.0314 26.1434C18.4608 26.1245 17.9187 25.8894 17.5149 25.4857C17.1112 25.0819 16.8761 24.5398 16.8572 23.9692C16.8383 23.3985 17.037 22.8421 17.4131 22.4125C17.8427 22.0364 18.3992 21.8376 18.9698 21.8566C19.5404 21.8755 20.0825 22.1106 20.4863 22.5143C20.89 22.9181 21.1251 23.4602 21.144 24.0308C21.163 24.6014 20.9642 25.1579 20.5881 25.5875ZM19.5131 20.2875C18.969 20.2109 18.4147 20.2552 17.8897 20.4172C17.3647 20.5793 16.8819 20.8551 16.4756 21.225L7.41311 14.5625C7.65967 14.0126 7.77237 13.4121 7.74195 12.8102C7.71153 12.2083 7.53886 11.6222 7.23811 11.1L11.7756 7.0125C12.2145 7.33668 12.7188 7.56118 13.2534 7.67035C13.788 7.77952 14.3399 7.77071 14.8708 7.64455C15.4016 7.51839 15.8985 7.27791 16.3268 6.93989C16.7551 6.60188 17.1045 6.17447 17.3506 5.6875L21.2631 6.7625C21.2267 7.29363 21.305 7.82636 21.4927 8.32458C21.6803 8.82279 21.9729 9.27481 22.3506 9.65C22.5659 9.86917 22.8098 10.0584 23.0756 10.2125L19.5131 20.2875ZM26.5881 8.5875C26.1585 8.96361 25.6021 9.16234 25.0314 9.14343C24.4608 9.12453 23.9187 8.88938 23.5149 8.48566C23.1112 8.08194 22.8761 7.53983 22.8572 6.96919C22.8383 6.39855 23.037 5.84206 23.4131 5.4125C23.8427 5.03639 24.3992 4.83765 24.9698 4.85656C25.5404 4.87547 26.0825 5.11061 26.4863 5.51433C26.89 5.91806 27.1251 6.46017 27.144 7.0308C27.163 7.60144 26.9642 8.15793 26.5881 8.5875Z' fill='%2386BC8B'/%3E%3C/svg%3E%0A");
                    }
                    &.Property {
                        width: 24px;
                        height: 14px;
                        background-image: url("data:image/svg+xml,%3Csvg width='24' height='14' viewBox='0 0 24 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.66667 3.00002C6.28889 3.00002 5.972 2.87201 5.716 2.61601C5.46 2.36001 5.33245 2.04357 5.33334 1.66668C5.33334 1.2889 5.46134 0.972015 5.71734 0.716015C5.97334 0.460015 6.28978 0.332459 6.66667 0.333348H22.6667C23.0444 0.333348 23.3613 0.461348 23.6173 0.717348C23.8733 0.973348 24.0009 1.28979 24 1.66668C24 2.04446 23.872 2.36135 23.616 2.61735C23.36 2.87335 23.0436 3.0009 22.6667 3.00002H6.66667ZM6.66667 8.33335C6.28889 8.33335 5.972 8.20535 5.716 7.94935C5.46 7.69335 5.33245 7.3769 5.33334 7.00001C5.33334 6.62224 5.46134 6.30535 5.71734 6.04935C5.97334 5.79335 6.28978 5.66579 6.66667 5.66668H22.6667C23.0444 5.66668 23.3613 5.79468 23.6173 6.05068C23.8733 6.30668 24.0009 6.62313 24 7.00001C24 7.37779 23.872 7.69468 23.616 7.95068C23.36 8.20668 23.0436 8.33424 22.6667 8.33335H6.66667ZM6.66667 13.6667C6.28889 13.6667 5.972 13.5387 5.716 13.2827C5.46 13.0267 5.33245 12.7102 5.33334 12.3333C5.33334 11.9556 5.46134 11.6387 5.71734 11.3827C5.97334 11.1267 6.28978 10.9991 6.66667 11H22.6667C23.0444 11 23.3613 11.128 23.6173 11.384C23.8733 11.64 24.0009 11.9565 24 12.3333C24 12.7111 23.872 13.028 23.616 13.284C23.36 13.54 23.0436 13.6676 22.6667 13.6667H6.66667ZM1.33334 3.00002C0.95556 3.00002 0.638671 2.87201 0.382671 2.61601C0.126671 2.36001 -0.000884275 2.04357 4.61361e-06 1.66668C4.61361e-06 1.2889 0.128005 0.972015 0.384005 0.716015C0.640005 0.460015 0.956449 0.332459 1.33334 0.333348C1.71112 0.333348 2.028 0.461348 2.284 0.717348C2.54 0.973348 2.66756 1.28979 2.66667 1.66668C2.66667 2.04446 2.53867 2.36135 2.28267 2.61735C2.02667 2.87335 1.71023 3.0009 1.33334 3.00002ZM1.33334 8.33335C0.95556 8.33335 0.638671 8.20535 0.382671 7.94935C0.126671 7.69335 -0.000884275 7.3769 4.61361e-06 7.00001C4.61361e-06 6.62224 0.128005 6.30535 0.384005 6.04935C0.640005 5.79335 0.956449 5.66579 1.33334 5.66668C1.71112 5.66668 2.028 5.79468 2.284 6.05068C2.54 6.30668 2.66756 6.62313 2.66667 7.00001C2.66667 7.37779 2.53867 7.69468 2.28267 7.95068C2.02667 8.20668 1.71023 8.33424 1.33334 8.33335ZM1.33334 13.6667C0.95556 13.6667 0.638671 13.5387 0.382671 13.2827C0.126671 13.0267 -0.000884275 12.7102 4.61361e-06 12.3333C4.61361e-06 11.9556 0.128005 11.6387 0.384005 11.3827C0.640005 11.1267 0.956449 10.9991 1.33334 11C1.71112 11 2.028 11.128 2.284 11.384C2.54 11.64 2.66756 11.9565 2.66667 12.3333C2.66667 12.7111 2.53867 13.028 2.28267 13.284C2.02667 13.54 1.71023 13.6676 1.33334 13.6667Z' fill='%2386BC8B'/%3E%3C/svg%3E%0A");
                    }
                    &.Population {
                        width: 24px;
                        height: 26px;
                        background-image: url("data:image/svg+xml,%3Csvg width='24' height='26' viewBox='0 0 24 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 0C5.27125 0 0 3.075 0 7V19C0 22.925 5.27125 26 12 26C18.7288 26 24 22.925 24 19V7C24 3.075 18.7288 0 12 0ZM22 13C22 14.2025 21.015 15.4288 19.2987 16.365C17.3662 17.4188 14.7738 18 12 18C9.22625 18 6.63375 17.4188 4.70125 16.365C2.985 15.4288 2 14.2025 2 13V10.92C4.1325 12.795 7.77875 14 12 14C16.2213 14 19.8675 12.79 22 10.92V13ZM4.70125 3.635C6.63375 2.58125 9.22625 2 12 2C14.7738 2 17.3662 2.58125 19.2987 3.635C21.015 4.57125 22 5.7975 22 7C22 8.2025 21.015 9.42875 19.2987 10.365C17.3662 11.4187 14.7738 12 12 12C9.22625 12 6.63375 11.4187 4.70125 10.365C2.985 9.42875 2 8.2025 2 7C2 5.7975 2.985 4.57125 4.70125 3.635ZM19.2987 22.365C17.3662 23.4188 14.7738 24 12 24C9.22625 24 6.63375 23.4188 4.70125 22.365C2.985 21.4287 2 20.2025 2 19V16.92C4.1325 18.795 7.77875 20 12 20C16.2213 20 19.8675 18.79 22 16.92V19C22 20.2025 21.015 21.4287 19.2987 22.365Z' fill='%2386BC8B'/%3E%3C/svg%3E%0A");
                    }
                    &.SiteDetail {
                        width: 20px;
                        height: 28px;
                        background-image: url("data:image/svg+xml,%3Csvg width='20' height='28' viewBox='0 0 20 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.0003 13.3337C9.11627 13.3337 8.26842 12.9825 7.6433 12.3573C7.01818 11.7322 6.66699 10.8844 6.66699 10.0003C6.66699 9.11627 7.01818 8.26842 7.6433 7.6433C8.26842 7.01818 9.11627 6.66699 10.0003 6.66699C10.8844 6.66699 11.7322 7.01818 12.3573 7.6433C12.9825 8.26842 13.3337 9.11627 13.3337 10.0003C13.3337 10.4381 13.2474 10.8715 13.0799 11.2759C12.9124 11.6804 12.6669 12.0478 12.3573 12.3573C12.0478 12.6669 11.6804 12.9124 11.2759 13.0799C10.8715 13.2474 10.4381 13.3337 10.0003 13.3337ZM10.0003 0.666992C7.52497 0.666992 5.151 1.65032 3.40066 3.40066C1.65032 5.151 0.666992 7.52497 0.666992 10.0003C0.666992 17.0003 10.0003 27.3337 10.0003 27.3337C10.0003 27.3337 19.3337 17.0003 19.3337 10.0003C19.3337 7.52497 18.3503 5.151 16.6 3.40066C14.8496 1.65032 12.4757 0.666992 10.0003 0.666992Z' fill='%2386BC8B'/%3E%3C/svg%3E%0A");
                    }
                }
            }

            .UploadSectionContent {
                p {
                    text-align: left;
                    font-size: 0.8rem;
                    margin-bottom: 0;
                }
                .SelectedParcelContainerParent {
                    position: relative;
                    height: 100%;
                }
                .SelectedParcelContainer {
                    position: absolute;
                    left: 0; top: 0; right: 0; bottom: 0;
                    overflow-y: auto;
                }
                .SelectedParcelSection {
                    font-weight: bold;
                }
            }
            
            .UploadSectionHelpIcon {
                padding-left: 5px;
            }


            &.Step2 {
                height: 100%;

                .ButtonContainer {
                    width: 100%;
                    padding-bottom: 10px;

                    .Select.MuiButton-root {
                        min-width: 110px;
                        background: #FAA755;
                    }

                    .Select.MuiButton-root:hover {
                        background: #976534;
                    }

                    .Digitise.MuiButton-root {
                        min-width: 110px;
                        background: #9D85BE;
                    }

                    .Digitise.MuiButton-root:hover {
                        background: #72608a;
                    }

                    .Upload.MuiButton-root {
                        min-width: 110px;
                        background: rgba(40, 40, 41, 0.8);
                    }

                    .Upload.MuiButton-root:hover {
                        background: rgba(40, 40, 41, 0.5);
                    }

                    .Save {
                        width: 100%;
                    }
                }
            }

            &.Step3 {
                .ButtonContainer {
                    margin-top: 0px;
                    width: 100%;
                    padding-bottom: 10px;

                    .ManualForm.MuiButton-root {
                        flex: 1 1 0px;
                        margin: 10px;
                        background: #FAA755;
                    }

                    .ManualForm.MuiButton-root:hover {
                        background: #976534;
                        color: white;
                    }

                    .Download.MuiButton-root {
                        flex: 1 1 0px;
                        margin: 10px;
                        background: #9D85BE;
                    }

                    .Download.MuiButton-root:hover {
                        background: #72608a;
                    }

                    .Upload.MuiButton-root {
                        flex: 1 1 0px;
                        margin: 10px;
                        background: rgba(40, 40, 41, 0.8);
                    }

                    .Upload.MuiButton-root:hover {
                        background: rgba(40, 40, 41, 0.5);
                    }
                }
            }
        }

        .SelectPlaceHolder {
            text-align: left;
            width: 100%;
            display: inline-block;
            color: rgba(0, 0, 0, 0.6);
        }
    }
}

.Uploader {
    .MuiDialogTitle-root {
        text-align: center;
    }

    .UploaderContent {
        min-width: 550px;
        min-height: 500px;
        padding: 20px;

        label {
            color: unset;
        }

        .dzu-dropzone {
            overflow: hidden;
            height: 250px;
            background: rgba(134, 188, 139, 0.1);
            border: 1px dashed #75B37A;
            border-radius: 4px;
            padding: 25px;
        }

        .CloudUploadIcon {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 166px;
            height: 138px;
            background-image: url("data:image/svg+xml,%3Csvg width='166' height='138' viewBox='0 0 166 138' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M83 92V126.5M83 92L96.75 103.5M83 92L69.25 103.5' stroke='%2386BC8B' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M151.75 76.7798C151.75 90.252 141.822 101.81 127.688 106.72M99.3694 46.1553C103.58 44.9283 108.008 44.3042 112.466 44.3095C116.962 44.3095 121.287 44.9363 125.323 46.0863M125.323 46.0863C123.129 29.8655 106.485 17.25 86.2725 17.25C64.575 17.25 46.9888 31.786 46.9888 49.7203C46.9832 53.5725 47.8076 57.394 49.4225 61.0018M125.323 46.0863C131.358 47.8163 136.801 50.7465 141.183 54.625M49.4225 61.0018C47.5424 60.696 45.6316 60.5419 43.7162 60.5418C27.4431 60.5475 14.25 71.4495 14.25 84.8988C14.25 95.8008 22.9194 105.03 34.875 108.135M49.4225 61.0018C53.2264 61.6196 56.8475 62.8584 60.0788 64.6473' stroke='%2386BC8B' stroke-width='1.5' stroke-linecap='round'/%3E%3C/svg%3E");
        }

        .CenterItem {
            margin-left: auto;
            margin-right: auto;
        }

        .BrowseLink {
            color: var(--primary-color);
            text-decoration: underline;
        }

        .UploadedFilesPreview {
            overflow-y: auto;
            max-height: 330px;
        }
        .ErrorFile{
            background-color: #FF5252;
            height: 30px;
        }
        .UploadAlertMessage {
            text-align: left;
          
            .MuiAlert-message {
              width: 100%;
            }
        }
    }
}
