.map-wrap {
    position: relative;
    width: 100%;
    height: calc(100% - 10px);
}

.map {
    position: absolute;
    width: 100%;
    height: 100%;
}

.maplibregl-ctrl-print .maplibregl-ctrl-icon {
    background-image: url("data:image/svg+xml,%3Csvg width='21' height='18' viewBox='0 0 21 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.5 4H4.5V0H16.5V4ZM16.5 9.5C16.7833 9.5 17.021 9.404 17.213 9.212C17.405 9.02 17.5007 8.78267 17.5 8.5C17.5 8.21667 17.404 7.979 17.212 7.787C17.02 7.595 16.7827 7.49933 16.5 7.5C16.2167 7.5 15.979 7.596 15.787 7.788C15.595 7.98 15.4993 8.21733 15.5 8.5C15.5 8.78333 15.596 9.021 15.788 9.213C15.98 9.405 16.2173 9.50067 16.5 9.5ZM14.5 16V12H6.5V16H14.5ZM16.5 18H4.5V14H0.5V8C0.5 7.15 0.791667 6.43733 1.375 5.862C1.95833 5.28667 2.66667 4.99933 3.5 5H17.5C18.35 5 19.0627 5.28767 19.638 5.863C20.2133 6.43833 20.5007 7.15067 20.5 8V14H16.5V18Z' fill='%23696969'/%3E%3C/svg%3E%0A");
}


.maplibregl-ctrl-base-map-select .maplibregl-ctrl-icon {
    background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.625 21.875L9.375 19.6875L3.125 22.1094V5.26042L9.375 3.125L15.625 5.3125L21.875 2.89062V19.7396L15.625 21.875ZM14.5833 19.3229V7.13542L10.4167 5.67708V17.8646L14.5833 19.3229Z' fill='%23696969'/%3E%3C/svg%3E%0A");
}