.legend-placeholder {
    padding: 0px 10px 5px 10px;
    text-align: left;

    .legend-header {
        color: var(--black-gray);
        font-weight: 400;
        height: 48px;
        line-height: 48px;
        font-size: 14px;
    }

    .legend-item {
        color: var(--black-darker);
        font-weight: 400;
        height: 56px;
        line-height: 56px;
        font-size: 14px;

        .legend-color {
            padding: 7px 5px;
            height: 56px;
            width: 42px;
        }

        .color {
            width: 32px;
            height: 42px;
        }
    }
}

.legend-root-dark {
    .legend-placeholder {
        background: #282829;
        .legend-header {
            color: white;
        }
        .legend-item {
            color: white;
        }
    }
}

.legend-root-white {
    .legend-placeholder {
        background: white;
        .legend-header {
            color: var(--black-gray);
        }
        .legend-item {
            color: var(--black-darker);
        }
    }
}

.export {
    .legend-placeholder {
        border: solid 1px rgba(0,0, 0, 0.1);
    }
}
