.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: var(--black);
}

.footer-logo{
    width: 229px;
    height:76px;
}

.footer-nav{
    margin-top:20px;
    
    a{
        margin-right:10px;
        font-size:16px;
        font-family: 'Inter', sans-serif;
        text-decoration: none;
        color:var(--white);
    }
    a:hover{
        color:#444;
        transition: 0.2s;
    }

}

.vendors-logos-container{
    margin-top:15px;
}

.ids-logo{
    width:50px;
    height:41px;
    margin-right:15px;
}

.kartoza-white-logo{
    width:117px;
    height:38px;
}


@media screen and (min-width:500px) and (max-width:799px) {
    .footer{
        flex-direction: column;
    }

    .footer-nav{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .vendors-logos-container{
        margin-top:15px;
    }
}


@media screen and (min-width:300px) and (max-width:499px) {
    .footer{
        flex-direction: column;
    }

    .footer-nav{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .vendors-logos-container{
        margin-top:10px;
    }
}