.ChartContainerBox {
  padding: 20px;
  display: flex;
  background-color: white;
  justify-content: center;
  box-shadow: 0 0 6px -2px rgba(0, 0, 0, 0.3);

  .TextBox {
    position: absolute;
  }
}
