{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<section class="about-page fs-background" style="background-color: #000000; min-height:var(--min-content-height);">
    <div class="container-fluid full-height position-absolute">
    <div class="row half-height">
        <div class="col-12 col-md-5 col-lg-4 col-xxl-5"></div>
        <div class="col-12 col-md-7 col-lg-8 col-xxl-7">
            <div class='about-content-title'>
                SOUTH AFRICAN WILDLIFE POPULATION SYSTEM (SAWPS)
            </div>
            <div class='about-subsection-1'>
                <div class='about-subsection-1-video-holder'>
                <iframe src="https://www.youtube.com/embed/EEUg51ptrfw" title="Testing Video 5" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowFullScreen data-testid='about-page-video-frame' ></iframe>
                </div>
                <div class='about-subsection-1-text about-subsection-1-text2'>
                    <p class="about-text">SAWPS is a centralised wildlife population and trade monitoring system for assessing population trends, abundance and use trends of priority species intended to enable evidence-based policy design and implementation.</p>
                        <p class="about-text">The South African National Biodiversity Institute (SANBI) has a mandate to curate biodiversity information for policy design and implementation. While the South African Wildlife Population System (SAWPS) is intended to collate wildlife population data to assess stocks and sustainable trade, SANBI has a number of other biodiversity databases available to decision-makers and managers.<br><br>
                        <span>Please visit the<a href="https://biodiversityadvisor.sanbi.org"> Biodiversity Advisor </a>for more information</span>
                    </p>
                </div>
            </div>
            <div class='about-subsection-2 about-section'>
                <div class="subsection">
                    <div class="section-img">
                    <img src="/static/images/icons/data-store.png" alt="data"
                    class="img-fluid ml-2" style="width: 80px;">
                    </div>
                    <div class="section-text">
                    <h4 style="margin-top: 0.6%;">Secure species data storage</h4>
                    </div>
                </div>
            </div>
            <div class='about-subsection-3 about-section'>
                <div class="subsection">
                    <div class="section-img">
                    <img src="/static/images/icons/visualisation.png" alt="data"
                    class="img-fluid ml-2" style="width: 80px;">
                    </div>
                    <div class="section-text">
                    <h4 style="margin-top: 0.5%;">automated reporting</h4>
                    </div>
                </div>
            </div>
            <div class='about-subsection-4 about-section'>
                <div class="subsection">
                    <div class="section-img">
                    <img src="/static/images/icons/report.png" alt="data"
                    class="img-fluid ml-2" style="width: 80px;">
                    </div>
                    <div class="section-text">
                    <h4 style="margin-top: 0.5%;">Data analysis and visualisation</h4>
                    </div>
                </div>
            </div>
            <div class='about-subsection-5 about-section'>
                <div class="subsection">
                    <div class="section-img">
                    <img src="/static/images/icons/organisation.png" alt="data"
                    class="img-fluid ml-2" style="width: 80px;">
                    </div>
                    <div class="section-text">
                    <h4 style="margin-top: 0.4%;">Support National Decision making</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
{% endblock %}

</html>
