{% load static %}
{% load custom_tags %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/static/favicon.svg" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'js/bootstrap-4.3.1/css/bootstrap.min.css' %}">
    <title>{% block head_title %}Kartoza{% endblock %}</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/navbar.css' %}" rel="stylesheet">
    <link href="https://unpkg.com/maplibre-gl@2.1.9/dist/maplibre-gl.css" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static 'fontawesome-free-6.4.2-web/css/all.min.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="{% static 'js/modernizr-custom.js' %}"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr@4.6.3/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr@4.6.3/dist/flatpickr.min.js"></script>
    <!-- Include the CSS file for Select2 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css">
    {% block extra_head %}
    {% endblock %}
</head>
<script>
  window.csrfToken = "{{ csrf_token }}";
  window.isLoggedIn = {% if user.is_authenticated %}true{% else %}false{% endif %};
  window.SENTRY_DSN = "{% sentry_dsn %}";
</script>
<body>
  {% block header %}
    {% include 'navibar.html' %}
    {% for message in messages %}
    {% if 'notification' in message.tags %}
      <div class="alert alert-success position-fixed top-0 end-0 padding" role="alert">
        {{ message }}
      </div>
    {% endif %}
  {% endfor %}
  {% endblock %}
  <style>
    /* Position the alert at the top right corner */
    .position-fixed {
        position: fixed;
        z-index: 100; /* Adjust the z-index value as needed */
    }
    .padding {
      margin-top: 6%;
      margin-right: 1%;
    }
    .top-0 {
        top: 0;
    }
    .end-0 {
        right: 0;
    }
  </style>
  <script>

      try{
        var current_organisation = '{{ user.user_profile.current_organisation_id }}'
        localStorage.setItem('current_organisation',current_organisation)
      }catch (exception){
        //ignore error
      }

      function extractBaseUrl(url) {
        // Find the index of the first forward slash after the initial //
        const slashIndex = url.indexOf('/', url.indexOf('//') + 2);

        // Extract the base URL
        const baseUrl = url.substring(0, slashIndex);

        return baseUrl;
      }

      var get_devices_url = extractBaseUrl(window.location.href) + "/get_user_notifications/";

      function hideNotifications(hide){
        try{
          var notifications = document.getElementById("notifications");
          if(!hide)
            notifications.style.display = "block"
          else
            notifications.style.display = "none"
        }catch(exception){
          // console.log(exception.message)
        }
      }

      // GET MESSAGES LENGTH
      function getMessageLength() {
        // Try to get the number of messages from localStorage
        let messageLength = parseInt(localStorage.getItem('message_length'));

        return isNaN(messageLength) ? 0 : messageLength;
      }

      // SHOW PROFILE BELL ICON IF ON PROFILE PAGES
      function updateProfileBellIcon(show_bell) {
        // document.addEventListener("DOMContentLoaded", function() {
          const messageLength = getMessageLength();
          var notificationBell = ''
          var notificationBadge = ''
          try{
            notificationBell = document.getElementById('notificationBell');
            notificationBadge = document.querySelector('.notification-badge');

            if (messageLength > 0 && show_bell) {
              // Display the bell icon with the badge
              notificationBell.style.display = 'block';
              // Set the badge number
              notificationBadge.innerText = messageLength;
            }else {
              // reset
              localStorage.setItem('message_length',0)
              // Hide the bell icon when there are no messages
              notificationBell.style.display = 'none';
            }
          }catch(exception){
            return false
          }

          return true
        // });
      }

      function waitUpdateProfileBellIcon(show_bell) {
        document.addEventListener("DOMContentLoaded", function() {
          const messageLength = getMessages().length;
          var notificationBell = ''
          var notificationBadge = ''
          try{
            notificationBell = document.getElementById('notificationBell');
            notificationBadge = document.querySelector('.notification-badge');

            if (messageLength > 0 && show_bell) {
              // Display the bell icon with the badge
              notificationBell.style.display = 'block';
              // Set the badge number
              notificationBadge.innerText = messageLength;
            }else {
              // reset
              localStorage.setItem('message_length',0)
              // Hide the bell icon when there are no messages
              notificationBell.style.display = 'none';
            }
          }catch(exception){
            return false
          }

          return true
        });
      }

      // SHOW HEADER BELL ICON
      function updateHeaderBellIcon(show_bell){
        try{
          var notificationIcon = document.getElementById("notificationIcon");
          if(show_bell)
            notificationIcon.style.display = "block"
          else
            notificationIcon.style.display = "none"
        }catch(exception){
          //ignore exception
        }
      }

      function updateLocalStorage(results){
        if(results.length > 0){
          localStorage.setItem('message_length',results.length)
          messages = []
          for(var count = 0; count < results.length; count ++){
            messages.push(results[count])
          }
          localStorage.setItem('messages', JSON.stringify(messages))

          return true
        }

        return false
      }

      function getMessages(){
        messages = localStorage.getItem('messages')
        try{
          messages = JSON.parse(localStorage.getItem('messages'))
        }catch(exception){
          //ignore
        }

        var return_obj = []
        for(var count =0; count < messages?.length; count++){
          var save_obj = {
            url: "/notifications/" + '{{ user }}' + '/', text: messages[count]
          }
          return_obj.push(save_obj)
        }
        return return_obj
      }

      function waitPopulateDropdown() {
        // document.addEventListener("DOMContentLoaded", function() {
          var dropdownItems = getMessages()

          var dropdownList = document.getElementById("notifications_dropdwon");

          // Clear any existing items in the dropdown
          dropdownList.innerHTML = "";

          // Iterate through the dropdownItems array and add items as list items
          dropdownItems.forEach(function(item) {
            var listItem = document.createElement("li");
            var link = document.createElement("a");
            link.href = item.url;
            link.textContent = item.text;
            listItem.appendChild(link);
            dropdownList.appendChild(listItem);
          });

          hideNotifications(false)
        // });

      }

      function updateHeaderNotifications(){
        waitPopulateDropdown()
        updateHeaderBellIcon(true)
      }

      function isProfilePages(){
        if(
          window.location.href.includes("profile") ||
          window.location.href.includes("reminders") ||
          window.location.href.includes("backup_tokens") ||
          window.location.href.includes("setup") ||
          window.location.href.includes("organisations")
        )
            return true
        else return false
      }

      function checkNotificationsFromToApi(){
        $.ajax({
          type: 'POST',
          url: get_devices_url,
          data: {
            'csrfmiddlewaretoken': '{{ csrf_token }}'
          },
          success: function(response) {

            results = response.user_notifications

            try{
              if(results.length >= 1 && updateLocalStorage(results)){
                updateHeaderNotifications()
                if (isProfilePages())
                  updateProfileBellIcon(true)
                  if(window.location.href.includes("reminders"))
                    window.location.reload() // to refresh reminders
                else updateProfileBellIcon(false)
              }

            }catch(exception){
              // ignore exception
              // console.log(exception.message)
            }
          },
          error: function(xhr, status, error) {
            // return []
          }
        });
      }


    // MESSAGES FADE OUT
    $(document).ready(function() {
      // Check if the password-reset-page class exists on the body
      if ( ! $('section').hasClass('password-reset-page')) {
        setTimeout(function() {
        $('.alert').fadeOut('slow');
        }, 3000); // Adjust the duration (in milliseconds) as needed
        }
      });

      if(
        !window.location.href.includes("two-factor-authenticate") &&
        !window.location.href.includes("accounts/two-factor/")
      ){
        var userIsAuthenticated = {% if user.is_authenticated %}true{% else %}false{% endif %};
        if(userIsAuthenticated){
          if(window.location.href.includes("notifications")) {
            updateProfileBellIcon(false)
            updateHeaderBellIcon(false)
            hideNotifications(true)
            localStorage.setItem('message_length' ,0)
            localStorage.setItem('messages' ,'')
          }else if(getMessages().length >= 1){
            if(isProfilePages()){
              waitUpdateProfileBellIcon(true)
            }

            updateHeaderNotifications()
            hideNotifications(false)
          }else
            setInterval(function() {
              checkNotificationsFromToApi()
            }, 10000); //check notificatiions every 10 seconds
        }
      }

  </script>
{% block content %}
{% endblock %}
{% block footer %}
<div class='footer' data-testid='footer'>
    <div class='sanbi-footer-logo-container'>
        <img class='footer-logo' data-testid='sanbi-footer-logo'
        src='/static/images/footer/sanbi-footer-logo.png'/>
    </div>
    <div class='footer-nav' data-testid='footer-navigation'>
        <a href='/' target='_blank'>HOME</a>
        <a href='/map' target='_blank'>EXPLORE</a>
        <a href='/' target='_blank'>DOCUMENTATION</a>
        <a href='/contact' target='_blank'>CONTACT</a>
  </div>
  <div class='vendors-logos-container' data-testid='vendors-logos-container' style="margin-right: 1%;">
    <img class='ids-logo' src='/static/images/footer/ids-logo.png' data-testid='ids-logo'/>
    <img class='kartoza-white-logo' src='/static/images/footer/kartoza-white-logo.png' data-testid='kartoza-logo'/>
  </div>
</div>
{% endblock %}
</body>
</html>
