{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>{% block head_title %}Kartoza{% endblock %}</title>
    <link href="{% static "css/style.css" %}" rel="stylesheet">
    <link href="{% static "css/navbar.css" %}" rel="stylesheet">
    <link href="https://unpkg.com/maplibre-gl@2.1.9/dist/maplibre-gl.css"
          rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    {% block extra_head %}
    {% endblock %}
</head>

<script>
  window.csrfToken = "{{ csrf_token }}";
  window.isLoggedIn = {% if user.is_authenticated %}true{% else %}false{% endif %};
</script>
<body>
{% block header %}
    <!-- Navigation bar -->
    {% include 'navibar.html' %}
{% endblock %}

{% block content %}
{% endblock %}
</body>
</html>
