{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'js/bootstrap-4.3.1/css/bootstrap.min.css' %}">
    <title>{% block head_title %}Kartoza{% endblock %}</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/navbar.css' %}" rel="stylesheet">
    <link href="https://unpkg.com/maplibre-gl@2.1.9/dist/maplibre-gl.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha384-...">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Include the CSS file for Select2 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css">
    {% block extra_head %}
    {% endblock %}
</head>
<script>
  window.csrfToken = "{{ csrf_token }}";
  window.isLoggedIn = {% if user.is_authenticated %}true{% else %}false{% endif %};
</script>
<body>
  {% block header %}
    {% include 'navibar.html' %}
    {% for message in messages %}
    {% if 'notification' in message.tags %}
      <div class="alert alert-success position-fixed top-0 end-0 padding" role="alert">
        {{ message }}
      </div>
    {% endif %}
  {% endfor %}
  {% endblock %}
  <style>
    /* Position the alert at the top right corner */
    .position-fixed {
        position: fixed;
        z-index: 100; /* Adjust the z-index value as needed */
    }
    .padding {
      margin-top: 6%;
      margin-right: 1%;
    }
    .top-0 {
        top: 0;
    }
    .end-0 {
        right: 0;
    }
  </style>
    <script>
      $(document).ready(function() {
          // Check if the password-reset-page class exists on the body
          if ( ! $('section').hasClass('password-reset-page')) {
              setTimeout(function() {
                  $('.alert').fadeOut('slow');
              }, 3000); // Adjust the duration (in milliseconds) as needed
          }
      });
  </script>
<div style="min-height:92vh">
{% block content %}
{% endblock %}
</div>
{% block footer %}
<div class='footer' data-testid='footer'>
    <div class='sanbi-footer-logo-container'>
        <img class='footer-logo' data-testid='sanbi-footer-logo'
        src='/static/images/footer/sanbi-footer-logo.png'/>
    </div>
    <div class='footer-nav' data-testid='footer-navigation'>
        <a href='/' target='_blank'>HOME</a>
        <a href='/map' target='_blank'>MAP</a>
        <a href='/' target='_blank'>DOCUMENTATION</a>
        <a href='/contact' target='_blank'>CONTACT</a>
  </div>
  <div class='vendors-logos-container' data-testid='vendors-logos-container'>
    <img class='ids-logo' src='/static/images/footer/ids-logo.png' data-testid='ids-logo'/>
    <img class='kartoza-white-logo' src='/static/images/footer/kartoza-white-logo.png' data-testid='kartoza-logo'/>
  </div>
</div>
{% endblock %}
</body>
</html>
