{% extends 'base.html' %}
{% load i18n %}
{% block head_title %}Contact{% endblock%}

{% block content %}
<section class="contact-banner-img fs-background" style="background-color: #000000;">
    <div class="container-fluid full-height position-absolute">
    <div class="row half-height">
        <div class="col-7"></div>
        <div class="col-4 sawps-text-primary">
            <div class="account-form content" style="width: 85%; margin-top: 7vh; background-color: #111111;">
                    {% csrf_token %}
                    <div class="container">

                        <div class="custom-form-container">
                            <h4 class="account-form-title">{% trans "Contact Us" %}</h4>
                            <hr class="separator">
                            <form class="contact">
                                <div class='form-group'>
                                    <label for="contact-name">Name</label>
                                    <input id='contact-name' name="Name" type="text" class="form-control"/>
                                </div>

                                <div class='form-group'>
                                    <label for="contact-name">Email</label>
                                    <input id='contact-email' name="Email" type="text" class="form-control"/>
                                </div>

                                <div class='form-group'>
                                    <label for="contact-name">Subject</label>
                                    <input id='contact-subject' name="Subject" type="text" class="form-control"/>
                                </div>

                                <div class='form-group'>
                                    <label for="contact-name">Message</label>
                                    <textarea id='contact-message' name="Message" type='textarea' class="form-control"/></textarea>
                                </div>
                                <div class="form-group float-left" style="width: 70%;">
                                    <div class="form-check">
                                      <input class="form-check-input" type="checkbox" value="" id="sendMe">
                                      <label class="form-check-label" for="sendMe">
                                        Send me a copy
                                      </label>
                                    </div>
                                  </div>
                                <button id="submit-button" class="sawps-from-submit account-button" type="submit">{% trans "Send" %}</button>
                            </form>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>
</section>
{% endblock %}

</html>
