{% extends 'base.html' %}
{% load i18n %}
{% block head_title %}Contact Us{% endblock%}

{% block content %}
<section class="fs-background" style="background-color: #000000; min-height:var(--min-content-height);">
    <div class="container-fluid full-height position-absolute">
    <div class="row half-height">
        <div class='help-image-container'>    
            <img src='/static/images/help/help_page_banner.png' style="width: fit-content;">
        </div>
        <div class='help-texts-container'>
            <div class='help-content-title'>
                HELP
            </div>
            <div class='help-text-container'>
                <div class='help-text'>
                    The SAWPS platform offers a broad range of features which are documented in a 
                    full user guide. For any other queries please contact the site administration using the contact form.
                </div>
            </div>
            <div class='help-btns-container'>
                <a href="https://kartoza.github.io/sawps/" target="_blank"><button class="green-button sawps-font-button-black mr-3">Go to user guide</button></a>
                <a href="/contact"><button class="orange-button sawps-font-button-black">Contact us</button></a>
            </div>
        </div>
    </div>
</div>
</section>
{% endblock %}

</html>
