{% extends "base.html" %}
{% load i18n %}

{% block head_title %}Help{% endblock %}


{% block content %}
<div class='help-container fs-background' data-testid='help-container'>
    <div class='help-content-container'>
        <div class='help-image-container'>
            <div class='help-banner-img'></div>
        </div>
        <div class='help-texts-container'>
            <div class='help-content-title'>
                HELP
            </div>
            <div class='help-text-container'>
                <div class='help-text'>
                    The SAWPS platform offers a broad range of features which are documented in a 
                    full user guide. For any other queries please contact the site administration using the contact form.
                </div>
            </div>
            <div class='help-btns-container'>
                <a href="https://kartoza.github.io/sawps/" target="_blank"><button class="green-button sawps-font-button-black mr-3">Go to user guide</button></a>
                <a href="/contact"><button class="orange-button sawps-font-button-black">Contact us</button></a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
