<nav class="navbar navbar-dark bg-dark static-top">
            <div class="container">
                <a class="navbar-brand" href="/"><img
                src='/static/images/sanbi-logo-1x.png'
                alt="Logo"
                style="height: 'auto', maxWidth: 'calc(100% - 16px)'"
                /></a>
                <div class="my-2 my-lg-0">
                <a class="btn btn-primary" href="/accounts/login">Login</a>
                <a class="btn btn-primary" href="/accounts/signup">Register</a>
                </div>
            </div>
</nav>