{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
        <!-- Send request Modal -->
        <div class="modal fade" id="organisationModal" tabindex="-1" role="dialog" aria-labelledby="organisationModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                       
                        <p class="modal-header-text">If you require the addition of your organisation to the SAWPS platform, please fill in the form.</p>
                        <form id="organisationForm">
                            <div class="form-group">
                                <label for="organisationName" class="form-label text-black">Organisation Name:</label>
                                <input type="text" class="form-control" id="organisationName" placeholder="KNP, SANParks" required>
                            </div>
                            <div class="form-group">
                                <label for="message" class="form-label text-black">Message to administrator (description of organisation and other information):</label>
                                <textarea class="form-control" id="message" placeholder="Enter message" required></textarea>
                            </div>
                           
                        </form>
                        <button type="button" class="sawps-font-button green-button mt-0" id="inviteBtn" style="font-weight: bold;" onclick="sendRequest()">Send</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Request sent Modal -->
        <div id="successModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-body">
                  <div class="success-animation">
                    <svg class="success-circle" viewBox="0 0 70 70">
                      <circle class="success-circle-bg" cx="35" cy="35" r="24"></circle>
                      <path class="success-tick" d="M25 35l10 10l20-20"></path>
                    </svg>
                  </div>
                  <p class="success-message text-black">Request sent</p>
                </div>
              </div>
            </div>
          </div>
         
       
       
       
       
       
         
          <a class="navbar-brand" href="/">
            <img src='/static/images/SANBI-logo.jpg' alt="Logo" style="width: 130px; height: auto;">
          </a>
         

       
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link navbar-text" href="/about">ABOUT</a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item">
            <a class="nav-link navbar-text" href="/map">EXPLORE</a>
        </li>
        {% endif %}
        {% if user.is_authenticated %}
        <li class="nav-item">
            {% if can_user_do_upload_data %}
                <a class="nav-link navbar-text" href="/upload">UPLOAD DATA</a>
            {% else %}
                <span class="navbar-text" aria-disabled="true">UPLOAD DATA</span>
            {% endif %}
        </li>
        {% endif %}
        <li class="nav-item">
            <a class="nav-link navbar-text" href="/help">HELP</a>
        </li>
        <li class="nav-item">
            <a class="nav-link navbar-text" href="/contact">CONTACT</a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item dropdown">
           
            <a class="dropdown-toggle nav-link user-name" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ user.first_name|upper }}
               
                {% if user.user_profile.picture %}
                <div style="position: relative; display: inline-block;">
                    <img src="{% get_media_prefix %}{{ user.user_profile.picture }}" alt="avatar" class="img-fluid ml-2 rounded-circle profile-picture" style="width: 30px;">
                    <img src='/static/images/icons/notif_bell.svg' id="notificationIcon" alt="Bell Icon" style="position: absolute; top: 0; right: -7px; width: 13px; height: auto; display: none;">
                </div>
                {% else %}
                    <svg class="img-fluid ml-2 rounded-circle" width="30px" style="background-color:var(--white);fill:#6c757dd9;width:30px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                    <!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                    <path d="M304 128a80 80 0 1 0 -160 0 80 80 0 1 0 160 0zM96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM49.3 464H398.7c-8.9-63.3-63.3-112-129-112H178.3c-65.7 0-120.1 48.7-129 112zM0 482.3C0 383.8 79.8 304 178.3 304h91.4C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7H29.7C13.3 512 0 498.7 0 482.3z" />
                    </svg>
                    <img src='/static/images/icons/notif_bell.svg' id="notificationIcon" alt="Bell Icon" style="position: absolute; top: 0; right: 30px; width: 13px; height: auto; display: none;">
                {% endif %}      
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu">
               

                <span class="submenu-item" style="display: none;" id="notifications">
                    <a class="dropdown-item notification-text" href="#"> Notifications &raquo; </a>
                    <ul class="dropdown-menu dropdown-submenu dropdown-submenu-left text-center" id="notifications_dropdwon">
                    </ul>                    
                </span>

                <a class="dropdown-item" href="/profile">My Profile</a>
                {% if '/accounts/two-factor/setup' not in request.path and  '/accounts/two-factor/two_factor/backup_tokens' not in request.path %}
                <hr class="divider" />
                <span class="dropdown-header">Active Organisation</span>
                {% if organisations|length == 0 and current_organisation == "-" and not user.is_superuser  %}
                <button class="btn btn-success btn-sm badge-btn center-button" type="button" data-toggle="modal" data-target="#organisationModal">REQUEST ORGANISATION</button>
                {% else %}
                <span class="dropdown-item font-weight-bolder clickable " onclick="redirectToDesiredPage()">{{ current_organisation }}</span>
                {% endif %}
                {% endif %}

                
                {% if user.is_superuser %}
                <hr class="divider" />
                <a class="dropdown-item" href="/admin/">Django Admin</a>
                {% endif %}
            </div>
        </li>
       
        <li class="nav-item">
            <a class="nav-link account-button" href="/accounts/logout">LOGOUT</a>
        </li>
        {% else %}
        <li class="nav-item">
        <a class="nav-link account-button" href="/accounts/login">LOGIN</a>
        </li>
        <span class="m-1"></span>
        <li class="nav-item">
        <a class="nav-link account-button" href="/accounts/signup">REGISTER</a>
        </li>
        {% endif %}
        </ul>
        </div>

    </div>
</nav>

<script>
    $(document).ready(function() {
        $(".toggle-dropdown-icon").on("click", function() {
            console.log("Switch Organisation clicked");
            $(".organisation-dropdown-menu").toggleClass("show");
            $(this).toggleClass("open");

            // Toggle the display of the hidden dropdown items
            $(".organisation-item").toggle();
        });

        $(".organisation-dropdown-menu").on("hide.bs.dropdown", function() {
            $(".toggle-dropdown-icon").removeClass("open");
        });
    });

    $(document).ready(function() {
        // Prevent event propagation when clicking on the inner dropdown items
        $('.organisation-item').on('click', function(event) {
            event.stopPropagation();
        });

        // Prevent the main dropdown from closing when clicking on inner dropdown
        $('#switchOrganisationDropdown').on('click', function(event) {
            event.stopPropagation();
        });
    });
    
    function redirectToDesiredPage() {
        // Retrieve the current window location
        var currentLocation = window.location.href;

        var UsersUrl = extractBaseUrl(currentLocation) + "/users/";

        if (currentLocation !== UsersUrl) {
            // Perform the redirection
            window.location.href = UsersUrl;
        }
    }

    function extractBaseUrl(url) {
        // Find the index of the first forward slash after the initial //
        const slashIndex = url.indexOf('/', url.indexOf('//') + 2);
       
        // Extract the base URL
        const baseUrl = url.substring(0, slashIndex);

        return baseUrl;
    }

    function sendRequest() {
        var organisationName = document.getElementById('organisationName').value;
        var message = document.getElementById('message').value;

        var url = extractBaseUrl(window.location.href) + "/sendrequest/"
       
        // call view function to send email
        $.ajax({
          type: 'POST',
          url: url,
          data: {
            'action': 'sendrequest',
            'organisationName': organisationName,
            'message': message,
            'csrfmiddlewaretoken': '{{ csrf_token }}'
          },
          success: function() {
            $('#successModal').modal('show');
          }
        });
    }

</script>

<style>
    .dropdown-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .dropdown-icon {
        transition: transform 0.3s;
        margin-left: 5%;
        margin-bottom: 1%;
    }

    .open .dropdown-icon {
        transform: rotate(90deg);
        margin-left: 5%;
        margin-bottom: 0%;
    }

    .notification-text {
        color: var(--green);
    }

    /* Style the arrow icon */
    .arrow-icon {
        margin-left: 8px;
        transform: rotate(0deg);
        transition: transform 0.2s ease-in-out;
    }

    /* Rotate the arrow icon when expanded */
    .expanded .arrow-icon {
        transform: rotate(180deg);
    }

    .bell-icon {
        position: absolute;
        top: 0;
        right: 0;
        width: 13px;
        height: auto;
        z-index: 1; /* Adjust this value to control the stacking order */
    }

    .profile-picture {
        position: relative;
        z-index: 0; /* Adjust this value to control the stacking order */
    }

</style>
