{% extends "base.html" %}
{% load static %}

{% block content %}
<section style="min-height:var(--min-content-height);">
  <div class="container py-5">
  <div class="row">
    {% include "profile_config_base.html" %}

    <div class="col-lg-8">
      <div class="profile-form">
        <form method="post" action="{% url 'profile' object.username %}">
          {% csrf_token %}
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="first-name">First name</label>
                <input type="text" class="form-control" id="first-name" name="first-name" aria-describedby="firstNameHelp" value={{object.first_name}}>
              </div>
              <div class="form-group">
                <label for="last-name">Last name</label>
                <input type="text" class="form-control" name="last-name" aria-describedby="lastNameHelp" value={{object.last_name}}>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="title">Title</label>
                <select class="form-control" name="title" id="title">
                  {% for title in titles %}
                    {% if title.name == object.user_profile.title_id.name %}
                      <option value="{{ title.id }}" selected>{{ title.name }}</option>
                    {% else %}
                      <option value="{{ title.id }}">{{ title.name }}</option>
                    {% endif %}
                  {% endfor %}
                </select>
              </div>
              <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp" value={{object.email}}>
                <small id="email-error" class="form-text text-danger"></small>
              </div>
            </div>
          </div>
          <div class="row" style="margin-right: 0px;">
            <div class="col-md-6 offset-md-10">
              <button type="submit" class="sawps-font-button orange-button mt-0" id="submit-button" style="font-weight: bold;">Update</button>
            </div>
          </div>
        </form>
      </div>
    </div>

  </div>

  <script>

  const toggleMessage = document.getElementById("toggleMessage");
  const switches = document.querySelectorAll(".custom-switch .custom-control-input");

  function handleToggleMessage() {
    let isAnySwitchToggled = false;
    switches.forEach((switchElement) => {
      if (switchElement.checked) {
        isAnySwitchToggled = true;
      }else {
        isAnySwitchToggled = true;
      }
    });

    toggleMessage.style.display = isAnySwitchToggled ? "block" : "none";
  }

  switches.forEach((switchElement) => {
    switchElement.addEventListener("change", handleToggleMessage);
  });

    $(document).ready(function() {
        setTimeout(function() {
            $('.alert').fadeOut('slow');
        }, 3000); // Adjust the duration (in milliseconds) as needed
    });

    const emailInput = document.getElementById("email");
    const submitButton = document.getElementById("submit-button");
    const emailError = document.getElementById("email-error");

    function validateEmail(email) {
      const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
      return emailRegex.test(email);
    }

    function checkEmailExists(email) {
      // Make an AJAX query to check if the email exists in the database
      // Replace the following with your actual AJAX call
      // For example, using fetch API:
      return fetch(`/check_email_exists/?email=${encodeURIComponent(email)}`)
        .then(response => response.json())
        .then(data => data.exists);
    }

    function handleEmailValidation() {
      const email = emailInput.value.trim();
      const isEmailValid = validateEmail(email);

      if (!isEmailValid) {
        emailError.textContent = "Email is invalid.";
        submitButton.disabled = true;
        return;
      }else {
        checkEmailExists(email).then(emailExists => {
          if (emailExists) {
            emailError.textContent = "Email already exists.";
            submitButton.disabled = true;
          } else {
            emailError.textContent = "";
            submitButton.disabled = false;
          }
        });
        return
      }


    }

    emailInput.addEventListener("input", handleEmailValidation);


  </script>

  <style>
    /* Position the alert at the top right corner */
    .position-fixed {
        position: fixed;
        z-index: 100; /* Adjust the z-index value as needed */
    }

    .top-0 {
        top: 0;
    }

    .end-0 {
        right: 0;
    }

    .form-control:focus {
      border-color: var(--green);
      box-shadow: 0 0 0 0.25rem rgba(0, 128, 0, 0.25);
    }

    /* Override default focus styles for the switches */
    .custom-switch .custom-control-input:focus ~ .custom-control-label::before {
      border-color: var(--green);
      box-shadow: 0 0 0 0.25rem rgba(0, 128, 0, 0.25);
    }

    /* Style checked switches with green color */
    .custom-switch .custom-control-input:checked ~ .custom-control-label::before {
      background-color: var(--green);
      border-color: var(--green);
    }

    .text-warning-custom {
      color: var(--green);
    }
  </style>

</section>
<section style="margin-top: -5%;">
    {% endblock %}
</section>
