{% extends "base.html" %}
{% load static %}

{% block head_title %}Your Profile{% endblock %}


{% block content %}
<form method = "post" enctype="multipart/form-data" action="{{ request.path }}" id="upload-species">
    {% csrf_token %}
    <div class="form-group">
      <label for="profile-picture">CSV</label>
      <input type="file" class="form-control" id="file" name="file">
    </div>
   
  </div>
  <div class="mb-4">
    <input type="button" class="sawps-from-submit green-button sawps-font-button" id="upload" value="Upload" input>
  </div>
  </form>

  <script>

const upload = document.getElementById("upload");
upload.addEventListener('click', function(e) {
    const formData = new FormData();
    formData.append("file", $('#file')[0].files[0])
    console.log(formData)
    $.ajax({
        url: `/api/upload-species/`,
        headers: {"X-CSRFToken": csrfToken},
        type: 'POST',
        data: formData,
        contentType: false,
        processData: false,
        success: function (data) {
            console.log('success')
        }

    })

});

    </script>

  {% endblock %}