
{% extends "base.html" %}
{% load static %}

{% block head_title %}Organisation Members{% endblock %}

{% block content %}
<section>
  <div class="container py-5">
  <div class="row">

    <div class="col">
      <div class="row">
        <h3 class="page-title sawps-text-menu mb-3">{{ current_organisation }}</h3>
        <hr class="default-separator">
      </div>
    </div>

    
      <div class="container">
       <div class="row">
        <h3 class="page-title sawps-text-menu mb-3">Members</h3>
        <div class="col-md-12"> 
          


          <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="myModalLabel">Invite people to {{ current_organisation }}</h5>
                </div>
                <div class="modal-body">
                  <div class="form-group">
                    <label for="sendInvitation">Send Invitation to:</label>
                    <select class="form-control select2-search" id="sendInvitation">
                      <option value="option1">Option 1</option>
                      <option value="option2">Option 2</option>
                      <!-- Add more options as needed -->
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="inviteAs">Invite as:</label>
                    <select class="form-control select2-search" id="inviteAs">
                      <option value="option1">Option 1</option>
                      <option value="option2">Option 2</option>
                      <!-- Add more options as needed -->
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="memberRole">Member Role:</label>
                    <select class="form-control" id="memberRole">
                      <option value="option1">Option 1</option>
                      <option value="option2">Option 2</option>
                      <!-- Add more options as needed -->
                    </select>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-success mx-auto" id="inviteBtn" style="background-color: green;">Invite</button>
                </div>
              </div>
            </div>
          </div>
          

        
        <div class="row">
          <div class="row justify-content-between">
            <div class="col">
              <div class="input-group">
                <div class="input-group-append">
                  <input type="text" class="form-control" placeholder="Search...">
                  <button class="btn btn-success mr-3" type="button" id="searchButton">
                    <i class="fas fa-search"></i>
                  </button>
                </div>
              </div>
            </div>
            <div class="col-auto ml-auto">
              <button class="btn btn-success" type="button" data-toggle="modal" data-target="#myModal">
                <i class="fas fa-plus"></i> Add People
              </button>
            </div>
          </div>
        </div>
        
        
        <br>
        
        <div class="row">
          <table id="bootstrapdatatable" class="table table-striped table-bordered" width="100%">
            <thead>
              <tr>
                <th>User</th>
                <th>Role</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for user in users %}
              <tr>
                <td>{{ user.organisation_user }}</td>
                {% if user.role == 'Base user' %}
                <td>{{ 'Organisation Member' }}</td>
                {% else %}
                <td>{{ 'Organisation Manager' }}</td>
                {% endif %}
                <td>
                  <i class="fas fa-trash-alt trash-icon" data-object-id="{{ user.id }}"></i>
                </td>
              </tr>
              {% endfor %}
            </tbody>
            <tfoot>
              <tr>
                <td colspan="3">
                  <div class="row justify-content-end">
                    <div class="col-auto">
                      <div class="row align-items-center">
                        <div class="col-auto">
                          Rows per page:
                        </div>
                        <div class="col-auto">
                          <select id="usersRowsPerPage" class="form-control mr-2 small-select" onchange="updateRowsPerPage('users', this)">
                            <option value="5" {% if users.paginator.per_page == 5 %}selected{% endif %}>5</option>
                            <option value="10" {% if users.paginator.per_page == 10 %}selected{% endif %}>10</option>
                            <option value="20" {% if users.paginator.per_page == 20 %}selected{% endif %}>20</option>
                          </select>
                        </div>
                        <div class="col-auto">
                          <nav aria-label="Page navigation">
                            <ul class="pagination justify-content-end">
                              {% if users.has_previous %}
                              <li class="page-item">
                                <a class="page-link" href="?users_page={{ users.previous_page_number }}" aria-label="Previous">
                                  <span aria-hidden="true">&laquo;</span>
                                  <span class="sr-only">Previous</span>
                                </a>
                              </li>
                              {% endif %}
                              <li class="page-item disabled">
                                <a class="page-link" href="#">{{ users.number }}</a>
                              </li>
                              {% if users.has_next %}
                              <li class="page-item">
                                <a class="page-link" href="?users_page={{ users.next_page_number }}" aria-label="Next">
                                  <span aria-hidden="true">&raquo;</span>
                                  <span class="sr-only">Next</span>
                                </a>
                              </li>
                              {% endif %}
                            </ul>
                          </nav>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
        
        
        <div class="row">
          <h3 class="page-title sawps-text-menu mb-3">Invitations</h3>
        
          <table id="bootstrapdatatable" class="table table-striped table-bordered" width="100%">
            <thead>
              <tr>
                <th>User</th>
                <th>Role</th>
              </tr>
            </thead>
            <tbody>
              {% for invited in invites %}
              <tr>
                <td>{{ invited.organisation_user }}</td>
                {% if invited.role == 'Base user' %}
                <td>Organisation Member</td>
                {% else %}
                <td>Organisation Manager</td>
                {% endif %}
              </tr>
              {% endfor %}
            </tbody>
            <tfoot>
              <tr>
                <td colspan="2">
                  <div class="row justify-content-end align-items-center">
                    <div class="col-auto">
                      <div class="row align-items-center">
                        <div class="col-auto">
                          Rows per page:
                        </div>
                        <div class="col-auto">
                          <select id="invitesRowsPerPage" class="form-control mr-2 small-select" onchange="updateRowsPerPage('invites', this)">
                            <option value="5" {% if invites.paginator.per_page == 5 %}selected{% endif %}>5</option>
                            <option value="10" {% if invites.paginator.per_page == 10 %}selected{% endif %}>10</option>
                            <option value="20" {% if invites.paginator.per_page == 20 %}selected{% endif %}>20</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="col-auto">
                      <nav aria-label="Page navigation">
                        <ul class="pagination">
                          {% if invites.has_previous %}
                          <li class="page-item">
                            <a class="page-link" href="?invites_page={{ invites.previous_page_number }}" aria-label="Previous">
                              <span aria-hidden="true">&laquo;</span>
                              <span class="sr-only">Previous</span>
                            </a>
                          </li>
                          {% endif %}
                          <li class="page-item disabled">
                            <a class="page-link" href="#">{{ invites.number }}</a>
                          </li>
                          {% if invites.has_next %}
                          <li class="page-item">
                            <a class="page-link" href="?invites_page={{ invites.next_page_number }}" aria-label="Next">
                              <span aria-hidden="true">&raquo;</span>
                              <span class="sr-only">Next</span>
                            </a>
                          </li>
                          {% endif %}
                        </ul>
                      </nav>
                    </div>
                  </div>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
        
        
       
        
         
       </div> 
       </div> 
      </div> 
      
  </div>

  <script>
    // delete icon
    $(document).ready(function(){
      $('.trash-icon').click(function(){
        var objectId = $(this).data('object-id');
        console.log('triggered',objectId);
        if (confirm("Are you sure you want to delete organisation member?")) {
                // Send an AJAX request to delete the row
                $.ajax({
                    type: 'POST',
                    url: '',
                    data: {
                        'action': 'delete', 
                        'object_id': objectId,
                        'csrfmiddlewaretoken': '{{ csrf_token }}',
                    },
                    success: function() {
                        // Refresh the page to reflect new changes
                        location.reload();

                    }
                });
            }
      })
    })

    // add user
    $(document).ready(function() {
        // AJAX request when the submit button is clicked
        $("#submitBtn").click(function() {
            var inputField1Value = $("#inputField1").val();
            // Get other input field values as needed
            
            // Send AJAX request to update the database
            $.ajax({
                type: 'POST',
                url: '/update-database/',
                data: {
                    'inputField1': inputField1Value,
                    // Include other input field values as needed
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                },
                success: function(response) {
                    // Handle the response from the server
                    console.log(response);
                    
                    // Close the modal
                    $("#myModal").modal("hide");
                    
                    // Perform any necessary actions (e.g., refresh the table)
                    // ...
                }
            });
        });
    });

    // updating rows per page for the respective tables
    function updateRowsPerPage(table, selectElement) {
        var selectedValue = selectElement.value;
        var url = new URL(window.location.href);
        url.searchParams.set(table + '_page', 1);
        url.searchParams.set(table + '_per_page', selectedValue);
        window.location.href = url.href;
    }

  </script>
  
</section>

<style>

#invitesRowsPerPage {
  margin-top: -0.8rem;
}

#usersRowsPerPage {
  margin-top: -0.8rem;
}

  /* Reduce the size of select boxes with the small-select class */
  .small-select {
      width: 50px; 
      font-size: 14px;
      padding: 4px;
      height: 38px;
  }
</style>



{% endblock %}


