
{% extends "base.html" %}
{% load custom_tags %}
{% load static %}

{% block head_title %}Organisation Members{% endblock %}

{% block content %}
<section>
  <div class="container py-5 content">
      <div class="container">
        <div class="row">
          <h3 class="page-title sawps-text-menu mb-3" style="color: var(--green)">{{ current_organisation }}</h3>
          <div class="col-auto ml-auto">
            {% is_organisation_manager user.id current_organisation_id as is_current_manager %}
            {% if is_current_manager %}
              <button class="sawps-font-button green-button mt-0" type="button" data-toggle="modal" data-target="#myModal" style="font-weight: bold; min-height: fit-content;">
                <i class="fas fa-plus"></i> Add People
              </button>
            {% endif %}
          </div>
        </div>
      </div>
      <hr class="default-separator">

      <div class="container">
       <div class="row">
        <h4 class="page-title sawps-text-menu mb-3" style="color: var(--green)">Members</h4>
        <div class="col-md-12">



          <!-- Send Invitation Modal -->
          <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="myModalLabel" style="color: var(--green)">Invite people to {{ current_organisation }}</h5>
                  <hr class="default-separator" style="margin-bottom: 0%;">
                </div>
                <div class="modal-body">
                  <div class="form-group">
                    <input type="email" class="form-control email-input" name="email" aria-describedby="emailHelp" placeholder="@Email address" required>
                    <div class="invalid-feedback">
                      Please enter a valid email address.
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inviteAs" style="display: block; text-align: center;">Invite as:</label>
                    <select class="form-control custom-select" id="inviteAs">
                      <option value="manager">Organisation Manager</option>
                      <option value="member">Organisation Member</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="memberRole" style="display: block; text-align: center;">Permissions:</label>
                    <select class="form-control custom-select" id="memberRole">
                      <option value="read">Read</option>
                      <option value="write">Write</option>
                    </select>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="sawps-font-button green-button mt-0" id="inviteBtn" style="background-color: var(--green); font-weight: bold;" onclick="invitePeople()">INVITE</button>
                </div>
              </div>
            </div>
          </div>

          <!-- Delete Message Modal -->
          <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="deleteModalLabel" style="color: var(--red)">Delete Confirmation</h5>
                  <hr class="default-separator" style="border-color: var(--red); margin-bottom: 0%;">
                </div>
                <div class="modal-body" style="margin-bottom: 5%;">
                  Are you sure you want to delete this organisation member?
                </div>
                <div class="modal-footer">
                  <button type="button" class="sawps-font-button gray-button mt-0" style="font-weight: bold;" data-dismiss="modal">Cancel</button>
                  <button type="button" class="sawps-font-button red-button mt-0" style="font-weight: bold;" id="deleteBtn">Delete</button>
                </div>
              </div>
            </div>
          </div>


          <!-- Error Message Modal -->
          <div class="modal fade" id="errorMessageModal" tabindex="-1" role="dialog" aria-labelledby="errorMessageModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title text-center text-danger" id="errorMessageModalLabel">
                    <i class="fas fa-exclamation-circle mr-2"></i>Error
                  </h5>
                  <hr class="default-separator" style="border-color: var(--red); margin-bottom: 0%;">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="text-center">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p class="text-center">Invitation already sent.</p>
                </div>
                <div class="modal-footer justify-content-between">
                  <button
                    type="button"
                    class="sawps-font-button red-button mt-0"
                    style="font-weight: bold; min-width: 140px; margin-left: 70%;"
                    data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>


        <!-- Success Message Modal -->
        <div class="modal fade" id="successMessageModal" tabindex="-1" role="dialog" aria-labelledby="successMessageModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title text-center" id="successMessageModalLabel">
                  <i class="fas fa-check-circle mr-2"></i>Success
                </h5>
                <hr class="default-separator" style="margin-bottom: 0%;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true" class="text-center">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p class="text-center">Email invitation sent successfully.</p>
              </div>
              <div class="modal-footer justify-content-center">
                <button
                  type="button"
                  class="sawps-font-button red-button mt-0"
                  data-dismiss="modal"
                  style="font-weight: bold; min-width: 140px; margin-left: 70%;"
                >
                  Close
                </button>
              </div>
            </div>
          </div>
        </div>




        <!-- search button -->
        <div class="row">
          <div class="row justify-content-between">
            <div class="col">
              <div class="input-group">
                <div class="input-group-append">
                  <form id="searchForm" action="{% url 'Users' %}" method="GET" class="input-group">
                    <input type="text" name="query" placeholder="Search..." class="form-control" id="searchInput">
                    <div class="input-group-append">
                      <button class="btn btn-custom" type="submit" id="searchButton">
                        <i class="fas fa-search"></i>
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>


        <br>

        <!-- members table -->
        <div class="row responsive">
          <table id="organisation_users" class="table table-striped table-bordereless" cellspacing="0" width="100%">
            <thead>
              <tr>
                <th>User</th>
                <th>Role</th>
                {% if user.is_superuser %}
                <th></th>
                {% endif %}
              </tr>
            </thead>
            <tbody>
              {% for org_user in users %}
              {% if org_user.joined %}
              {% is_organisation_manager org_user.id current_organisation_id as is_manager %}
              <tr>
                <td>{{ org_user.organisation_user }}</td>
                <td>
                   Organisation {% if is_manager %} Manager {% else %} Member {% endif %}</td>
                {% if user.is_superuser %}
                <td>
                  <i class="fas fa-trash-alt trash-icon" data-object-id="{{ org_user.id }}"></i>
                </td>
                {% endif %}
              </tr>
              {% endif %}
              {% endfor %}
            </tbody>
            <tfoot>
              <tr>
                <td colspan="3">
                  <div class="row justify-content-end">
                    <div class="col-auto">
                      <div class="row align-items-center">
                        <div class="col-auto">
                          Rows per page:
                        </div>
                        <div class="col-auto">
                          <select id="usersRowsPerPage" class="form-control mr-2 small-select" onchange="updateRowsPerPage('users', this)">
                            <option value="5" {% if users.paginator.per_page == 5 %}selected{% endif %}>5</option>
                            <option value="10" {% if users.paginator.per_page == 10 %}selected{% endif %}>10</option>
                            <option value="20" {% if users.paginator.per_page == 20 %}selected{% endif %}>20</option>
                          </select>
                        </div>
                        <div class="col-auto">
                          <nav aria-label="Page navigation">
                            <ul class="pagination justify-content-end">
                              {% if users.has_previous %}
                              <li class="page-item">
                                <a class="page-link" href="?users_page={{ users.previous_page_number }}" aria-label="Previous">
                                  <span aria-hidden="true">&laquo;</span>
                                  <span class="sr-only">Previous</span>
                                </a>
                              </li>
                              {% endif %}
                              <li class="page-item disabled">
                                <a class="page-link" href="#">{{ users.number }}</a>
                              </li>
                              {% if users.has_next %}
                              <li class="page-item">
                                <a class="page-link" href="?users_page={{ users.next_page_number }}" aria-label="Next">
                                  <span aria-hidden="true">&raquo;</span>
                                  <span class="sr-only">Next</span>
                                </a>
                              </li>
                              {% endif %}
                            </ul>
                          </nav>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>

        <!-- invitations table -->
        <div class="row responsive">
          <h4 class="page-title sawps-text-menu mb-3" style="color: var(--green)">Invitations</h4>

          <table id="invites" class="table table-striped table-bordereless" width="100%">
            <thead>
              <tr>
                <th>Email</th>
                <th>Role</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              {% for invited in invites %}
              <tr>
                <td>{{ invited.email }}</td>
                <td>Organisation {{ invited.assigned_as }}</td>
                <td class="text-center">
                  {% if invited.joined %}
                    <span class="badge badge-success">Joined</span>
                  {% else %}
                    <span class="badge badge-secondary">Pending</span>
                  {% endif %}
                </td>
              </tr>
              {% endfor %}
            </tbody>
            <tfoot>
              <tr>
                <td colspan="3">
                  <div class="row justify-content-end align-items-center">
                    <div class="col-auto">
                      <div class="row align-items-center">
                        <div class="col-auto">
                          Rows per page:
                        </div>
                        <div class="col-auto">
                          <select id="invitesRowsPerPage" class="form-control mr-2 small-select" onchange="updateRowsPerPage('invites', this)">
                            <option value="5" {% if invites.paginator.per_page == 5 %}selected{% endif %}>5</option>
                            <option value="10" {% if invites.paginator.per_page == 10 %}selected{% endif %}>10</option>
                            <option value="20" {% if invites.paginator.per_page == 20 %}selected{% endif %}>20</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="col-auto">
                      <nav aria-label="Page navigation">
                        <ul class="pagination">
                          {% if invites.has_previous %}
                          <li class="page-item">
                            <a class="page-link" href="?invites_page={{ invites.previous_page_number }}" aria-label="Previous">
                              <span aria-hidden="true">&laquo;</span>
                              <span class="sr-only">Previous</span>
                            </a>
                          </li>
                          {% endif %}
                          <li class="page-item disabled">
                            <a class="page-link" href="#">{{ invites.number }}</a>
                          </li>
                          {% if invites.has_next %}
                          <li class="page-item">
                            <a class="page-link" href="?invites_page={{ invites.next_page_number }}" aria-label="Next">
                              <span aria-hidden="true">&raquo;</span>
                              <span class="sr-only">Next</span>
                            </a>
                          </li>
                          {% endif %}
                        </ul>
                      </nav>
                    </div>
                  </div>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
       </div>
       </div>
      </div>
  </div>

  <script>
    // delete icon
    $(document).ready(function() {
      // Event delegation for trash icon click
      $(document).on('click', '.trash-icon', function() {
        var objectId = $(this).data('object-id');
        // console.log('triggered', objectId);

        // Show the confirmation modal
        $('#deleteModal').modal('show');

        // Attach the objectId to the delete button in the modal
        $('#deleteBtn').data('object-id', objectId);
      });

      // Event listener for delete button click in the modal
      $('#deleteBtn').click(function() {
        var objectId = $(this).data('object-id');

        // Send an AJAX request to delete the row
        $.ajax({
          type: 'POST',
          url: '',
          data: {
            'action': 'delete',
            'object_id': objectId,
            'current_organisation': '{{ current_organisation }}',
            'csrfmiddlewaretoken': '{{ csrf_token }}',
          },
          success: function() {
            // Close the modal
            $('#deleteModal').modal('hide');

            // Refresh the page to reflect new changes
            location.reload();
          }
        });
      });
    });


    // updating rows per page for the respective tables
    function updateRowsPerPage(table, selectElement) {
        var selectedValue = selectElement.value;
        var url = new URL(window.location.href);
        url.searchParams.set(table + '_page', 1);
        url.searchParams.set(table + '_per_page', selectedValue);
        window.location.href = url.href;
    }

    // invite member
    function invitePeople() {
      // Retrieve the values from the input fields
      var email = document.querySelector('.email-input').value;
      var inviteAs = document.querySelector('#inviteAs').value;
      var memberRole = document.querySelector('#memberRole').value;

      var emailInput = document.querySelector('.email-input');
      var emailError = document.querySelector('.invalid-feedback');

      if (!emailInput.checkValidity()) {
        // Show the error message
        emailError.style.display = 'block';
        return;
      }

      // Hide the error message (if previously shown)
      emailError.style.display = 'none';

      // Optionally, you can clear the input fields after the invitation is sent
      document.querySelector('.email-input').value = '';

      // console.log(email);
      // console.log(inviteAs);
      // console.log(memberRole);

      // Make an AJAX query to the database
      $.ajax({
        type: 'POST',
        url: '',
        data: {
          'action': 'invite',
          'email': email,
          'inviteAs': inviteAs,
          'memberRole': memberRole,
          'current_organisation': '{{ current_organisation }}', // retrieve this Django variable in JavaScript
          'csrfmiddlewaretoken': '{{ csrf_token }}'
        },
        success: function(response) {
          // Handle the success response
          console.log(response.status);

          if (response.status === 'invitation already sent') {
            // Show pop-up modal with error message: invitation already sent
            $('#errorMessageModal').modal('show');
          } else {
            var data = [];
            try{
              data = JSON.parse(response.updated_invites);

              var tableBody = $('#invites tbody');
              tableBody.empty();

              if (data.length > 0) {
                for (var i = 0; i < data.length; i++) {
                  var row = '<tr>';
                  row += '<td>' + data[i].email + '</td>';
                  row += '<td>' + data[i].user_role + '</td>';
                  row += '<td><span class="badge ' + (data[i].joined ? 'badge-success' : 'badge-secondary') + '">' + (data[i].joined ? 'joined' : 'pending') + '</span></td>';

                  // Add more table cells as needed
                  row += '</tr>';

                  tableBody.append(row);
                }
              }

              // Show pop-up modal with success message: email invitation sent
              $('#successMessageModal').modal('show');
            }catch(exception){
              console.log(exception.message)
            }
          }
        },
        error: function(xhr, status, error) {
          // Handle the error response
          console.error(error);
        }
      });
    }


    // search organisation users table
    $(document).ready(function() {
      $('#searchInput').on('input', function() {
        var formData = $(this).val();
            makeSearchQuery(formData)
      });
    });

    $(document).ready(function () {
        $('#searchForm').submit(function (event) {
            event.preventDefault();
            var formData = $(this).serialize();
            console.log('submitting ',formData)

            makeSearchQuery(formData)
        });
    });

    function makeSearchQuery(formData){
      $.ajax({
                type: 'POST',
                url: $(this).attr('action'),
                data: {
                  'action': 'search_user_table',
                  'query': formData,
                  'current_organisation': '{{ current_organisation }}',
                  'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                // dataType: 'json',
                success: function (response) {
                    var data = response.data;
                    data = JSON.parse(data);
                    // console.log(data)
                    var tableBody = $('#organisation_users tbody');

                    tableBody.empty();

                    var current_user_role = '{{ role }}'

                    if (data.length > 0) {
                        for (var i = 0; i < data.length; i++) {
                            var row = '<tr>';
                            row += '<td>' + data[i].user + '</td>';
                            row += '<td>' + data[i].role + '</td>';

                            if(current_user_role === "Admin" || current_user_role === "Super user" || '{{ user.is_superuser }}')
                              row += '<td><i class="fas fa-trash-alt trash-icon" data-object-id='+ data[i].id + '></i></td>';
                            // Add more table cells as needed
                            row += '</tr>';

                            tableBody.append(row);
                            // Update the rows per page value to the maximum
                            $('#usersRowsPerPage').val('{{ users.paginator.num_pages }}');
                            $('#usersRowsPerPage').val(20);
                            $('#usersRowsPerPage option').prop('disabled', false);
                            $('tfoot').show(); // Hide the table footer
                        }
                    } else {
                      tableBody.append('<tr class="no-results"><td colspan="2">No results found</td></tr>');
                      $('tfoot').hide(); // Hide the table footer
                    }
                }
            });
    }
  </script>

</section>

<style>

.btn-custom_red {
        background-color: var(--red);
        border-color: var(--red);
        color: #FFFFFF;
      }

.btn-custom {
        background-color: var(--green);
        border-color: var(--green);
        color: #FFFFFF;
    }

    .btn-custom:hover {
        background-color: var(--green);
        border-color: var(--green);
        color: #FFFFFF;
    }

    .badge-success {
    background-color: var(--green);
    color: white;
    }


.custom-py {
  padding-top: 3rem; /* Adjust the value to your desired padding */
  padding-bottom: 6.4rem; /* Adjust the value to your desired padding */
}


.pagination a.page-link {
  color: var(--green);
}

table#organisation_users tbody tr td:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
}

table#organisation_users tbody tr td:last-child .trash-icon {
  border: none;
}

table#organisation_users tbody tr td:last-child {
  border-bottom: none;
}



tfoot select.form-control {
  color: black;
  background-color: #f8f9fa;
  border-color: gray;
  border-radius: 0;
  height: auto;
  padding: 0.375rem 1.75rem 0.375rem 0.75rem;
  font-size: 0.875rem;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23333333"><path d="M7 10l5 5 5-5z" /></svg>');
  background-repeat: no-repeat;
  background-position: right 0.375rem center;
  background-size: 12px 12px;
  padding-right: 1rem;
}

tfoot select.form-control:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(0, 128, 0, 0.25);
  border-color: var(--green);
}



.form-control:focus {
  border-color: var(--green);
  box-shadow: 0 0 0 0.2rem rgba(0, 128, 0, 0.25);
}


#invitesRowsPerPage {
  margin-top: -0.9rem;
}

#usersRowsPerPage {
  margin-top: -0.9rem;
}

  /* Reduce the size of select boxes with the small-select class */
  .small-select {
      width: 50px;
      font-size: 14px;
      padding: 4px;
      height: 38px;
  }

  .email-input:focus {
    border-color: var(--green);
    box-shadow: 0 0 0 0.2rem rgba(0, 128, 0, 0.25);
  }

  .custom-select {
    color: black; /* Set the default text color to black */
    background-color: #f8f9fa;
    border-color: var(--green);
  }

  .custom-select:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(0, 128, 0, 0.25);
    border-color: var(--green);
  }

  .form-group label {
    text-align: center;
  }
  /* Apply horizontal scroll for smaller devices */
    @media (max-width: 768px) {
        .responsive {
            overflow-x: auto;
        }
    }
</style>
{% endblock %}


