.species-card-container-trends {
  color: #000000;

  .species-card-text {
    color: #000000;
  }

  .ChartHolder {
    min-width: 700px;
    min-height: 350px;
  }

}

.downloadBtn-Trend {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.SectionItem {
  width: 100%;
}

.SectionContainer {
  margin-top: 10px;
  .SectionTitle {
    color: #86BC8B;
    font-size: 20px;
    margin-bottom: 20px;
    p {
      text-align: left;
    }
    .MuiDivider-root {
      border-color: #86BC8B;
    }
  }
  .SectionEmpty {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: bold;
  }
}

.PopulationTrendChartContainer {
  width: 100%;
  height: 260px;
}

.GroupedGrowthChartContainer {
  width: 100%;
  height: 260px;
}


.GroupedGrowthChartContainerBox {
  padding: 20px;
  display: flex;
  background-color: white;
  justify-content: center;
  box-shadow: 0 0 6px -2px rgba(0, 0, 0, 0.3);
  width: 100%;
  flex-direction: column;
  height: 400px;

  .ChartContainers {
    height: 320px;
    display: flex;
    flex-direction: column;
    width: 100%;
    .ChartContainer {
      height: 270px;
      flex-grow: 1;
      .ChartBox {
        height: 270px;
      }
    }
    .ChartTitleBox {
      height: 50px;
  
      .ChartTitle {
        font-weight: bold;
      }
    }
  }

  .DownloadChartContainer {
    height: 20px;
    text-align: right;

    img:hover {
      cursor: pointer;
    }
  }
}

.national-trend-left-side {
    .ChartContainerBox {
        height: 600px;

        .ChartContainer {
            height: 520px;

            .ChartBox {
                height: 470px !important;

                .PopulationTrendChartContainer, .AreaAvailableLineChartContainer {
                  height: 460px;
                }
            }
        }
    }
}