.species-card-container {
  color: #000000;

  .species-card-text {
    color: #000000;
  }

  hr {
    border-top: solid black;
  }
}

.downloadBtn-Trend {
  position: absolute;
  bottom: 5px;
  right: 5px;
}