.species-card-container-trends {
  color: #000000;

  .species-card-text {
    color: #000000;
  }

  .ChartHolder {
    min-width: 700px;
    min-height: 350px;
  }

}

.downloadBtn-Trend {
  position: absolute;
  bottom: 5px;
  right: 5px;
}