.PropertyInfoTable {
    font-size: 14px;
    
    input.MuiInputBase-input {
        font-size: 14px;
        height: 20px;
        padding: 8px 12px;
    }

    .MuiSelect-select {
        font-size: 14px;
    }

    td.TableCellText {
        span {
            height: 40px;
            line-height: 40px;
        }
    }
}

.PropertySummary {
    height: 100%;
    flex-wrap: nowrap;

    .Header, .EmptyHeader {
        min-height: 48px;
        text-align: center;
        line-height: 48px;
        font-weight: 500;
        padding: 10px;
    }

    .ContentContainer {
        width: 100%;
        flex-direction: column;
        flex: 1;
        flex-wrap: nowrap;

        .SiteDetailTitle {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
        }

        .SiteDetailIcon {
            width: 20px;
            height: 28px;
            background-image: url("data:image/svg+xml,%3Csvg width='20' height='28' viewBox='0 0 20 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.0003 13.3337C9.11627 13.3337 8.26842 12.9825 7.6433 12.3573C7.01818 11.7322 6.66699 10.8844 6.66699 10.0003C6.66699 9.11627 7.01818 8.26842 7.6433 7.6433C8.26842 7.01818 9.11627 6.66699 10.0003 6.66699C10.8844 6.66699 11.7322 7.01818 12.3573 7.6433C12.9825 8.26842 13.3337 9.11627 13.3337 10.0003C13.3337 10.4381 13.2474 10.8715 13.0799 11.2759C12.9124 11.6804 12.6669 12.0478 12.3573 12.3573C12.0478 12.6669 11.6804 12.9124 11.2759 13.0799C10.8715 13.2474 10.4381 13.3337 10.0003 13.3337ZM10.0003 0.666992C7.52497 0.666992 5.151 1.65032 3.40066 3.40066C1.65032 5.151 0.666992 7.52497 0.666992 10.0003C0.666992 17.0003 10.0003 27.3337 10.0003 27.3337C10.0003 27.3337 19.3337 17.0003 19.3337 10.0003C19.3337 7.52497 18.3503 5.151 16.6 3.40066C14.8496 1.65032 12.4757 0.666992 10.0003 0.666992Z' fill='%2370B276'/%3E%3C/svg%3E%0A");
            margin-right: 10px;
        }
        

        .LineChartIcon {
            width: 20px;
            height: 20px;
            background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0' y='0' width='20' height='20' fill='none' /%3E%3Cpolyline points='1 10 5 15 9 6 13 12 17 8' stroke='%2370B276' stroke-width='2' fill='none' /%3E%3C/svg%3E");
            background-repeat: no-repeat;
            background-size: cover;
            margin-right: 10px;
        }
        
        
        

        .SummaryContent {
            padding: 10px;
            display: flex;
            flex-direction: column;
            overflow-y: auto;
            flex-wrap: nowrap;
            flex: 1 1 auto;
            height: 0px;
        }
    }
}
