.PropertyInfoTable {
    font-size: 14px;
    
    input.MuiInputBase-input {
        font-size: 14px;
        height: 20px;
        padding: 8px 12px;
    }

    .MuiSelect-select {
        font-size: 14px;
    }
}